[2019-02-19 16:48] gnurenga opened #1 "Finding local volunteers across India for Promotions"
- [ ] Send a mail to mailing list for call for volunteers

[2019-02-27 08:00] realslimshanky commented on #1
It would be great to broadcast the news that a call for promotional volunteers in on to different mailing lists. Here are some to begin with
- Local python user groups as mentioned on PSSI website - https://web.archive.org/web/20170206120448/pssi.org.in/usergroups/
- Free software communities of India - https://fsug.in/

[2019-02-27 08:21] bravegnu commented on #1
@realslimshanky I suggest that we invite the meetup group organizers to help us out with it, by writing directly writing to them. Writing mails directly to people, generally increases the chances of getting a positive response (compared to a broadcast)

[2019-02-28 04:36] bravegnu commented on #1
OK. On second thought we will first send out broadcast mails to the mailing lists, as indicated by @realslimshanky . If there are no takers, we will contact the meetup group organizers. @realslimshanky Would you be interested in taking this up?

[2019-03-01 15:55] gnurenga opened #2 "Call for volunteers for Promotion Workgroup"
- [x] Bangalore

- [x] Chennai

- [x] Delhi

- [ ] Hyderabad

- [ ] Kerala

- [ ] Mumbai

- [ ] Mysore

- [ ] Gujarat

- [ ] Pune

- [x] Jaipur

[2019-03-01 16:52] bravegnu commented on #2
@gnurenga Lets first send announcement mail for PyCon India 2019. And then lets send call for volunteers.

[2019-03-02 06:50] abhishekmishragithub commented on #2
was there any form ?

[2019-03-02 07:35] abhishekmishragithub commented on #2
Please let me know if anything needs to be changed in updated page. (I have added some more groups for Chennai region)

[2019-03-03 11:38] gnurenga commented on #2
Thank you @abhishekmishragithub for your valuable contribution we will get in touch with your for promotions.

[2019-03-03 11:40] gnurenga commented on #2
Sure @bravegnu

[2019-03-03 19:56] bravegnu opened #3 "PyCon India 2019 Announcement"
The following announcement template is for Python User Groups, where people already familiar with PyCon India.

[code]

The following announcement template is for the other user groups and private mailing lists, where people are not familiar with PyCon India.

[code]

[2019-03-03 19:58] bravegnu commented on #3
Twitter and social media announcement template for PyCon India owned groups only. For other groups consider using the email template, that includes the subscribe link.

[code]

[2019-03-03 20:06] bravegnu commented on #3
We will need to post to the following usergroups. The template will have to be tweaked for each category.

- [x] PySangamam
- [ ] PyCon India 2018 Attendees
- [x] BangPypers
- [x] Chennaipy
- [x] Pyladies Chennai
- [x] KovaiPy
- [ ] KolPy
- [ ] DPUG (DehraDun Python Users Group)
- [ ] PyGuj
- [x] KPUG (Kerala Python Users Group)
- [ ] Kochi Python Users Group
- [x] PyDelhi
- [ ] MumPy
- [x] Pune P

[2019-03-03 20:11] bravegnu commented on #2
Separate ticket #3 created for announcement mail.

[2019-03-04 03:54] sayanchowdhury commented on #3
We are missing BangPypers here. Also, which one is DPUG?

[2019-03-04 03:56] sayanchowdhury commented on #3
I see DPUG is the Dehradun Python Users' Group.

[2019-03-04 03:57] bravegnu commented on #3
The list has been updated for clarity. And BangPypers has been added as well.

[2019-03-04 04:02] sayanchowdhury commented on #3
This is another list that was around PyCon India 2014 for publicity[1]. Check this if we find some more active mailing list from the link

[1] https://github.com/pythonindia/pyconindia/wiki/Publicity2014#mailing-lists

[2019-03-04 04:50] abhishekmishragithub commented on #3
Please add Pyladies Chennai

[2019-03-04 04:55] stylesen commented on #3
@abhishekmishragithub Added "Pyladies Chennai".

[2019-03-04 04:56] stylesen commented on #3
Done.

[2019-03-06 01:37] gnurenga opened #4 "Cover Image for Twitter and Facebook"

[2019-03-06 12:44] gnurenga commented on #3
@abhishekmishragithub @abhishekmishragithub @aaronstone007 @shivank98 Can you send announcement mail to the group you are taking care. Update the check list once you done.

[2019-03-06 12:49] gnurenga commented on #3
## Volunteer update once sending the promotion mail
Kindly use the promotion template. Any doubts comment here
- [x] @gnurenga
- [x] @abhishekmishragithub
- [x] @aaronstone007
- [x] @shivank98
- [ ]  @TanviKumar
- [ ]  @Dhanya-Abhirami
- [ ] @niharikakrishnan

[2019-03-06 17:41] bravegnu commented on #4
The logo design will be finalized by the beginning of next week. Let's wait for it.

[2019-03-07 04:11] bravegnu commented on #3
I have posted the announcement to ILUGC and Puduvailug.

[2019-03-07 05:39] abhishekmishragithub commented on #3
Yes , its on going.
once done i'll update

[2019-03-07 05:44] abhishekmishragithub commented on #4
@bravegnu the options for design and logo are same that you sent in mailing list, right ?

[2019-03-07 05:45] abhishekmishragithub commented on #4
@gnurenga and @bravegnu let me know if we need any more graphic designers.

[2019-03-07 05:50] bravegnu commented on #4
Yes

[2019-03-10 18:30] raghavendrasv commented on #2
Hi guys,
I am newbie to programing and python, love to help. I live in jaipur.

[2019-03-11 03:51] bravegnu commented on #3
Posted to Pune and Hyderabad Python User Groups.

[2019-03-11 05:03] bravegnu commented on #3
Hi @TanviKumar, can you post the above template to the mailing lists in NITT.

[2019-03-11 05:04] bravegnu commented on #3
Hi @Dhanya-Abhirami, can you post the above template to the mailing lists in VIT.

[2019-03-11 06:02] gnurenga commented on #2
@vrsthe1 you can add your name under Jaipur in wiki page. And you can start working on #3  issue. Also follow the guidelines for adding you as volunteer for Jaipur.
## Steps

- Go to wiki
- Click on Promotions
- Read the Guidelines.
- Add your name against the state you like to help us in promotion

[2019-03-11 07:18] abhishekmishragithub commented on #3
Posted in GCDC Chennai, GDG Chennai, XMonkeys360 and Fn-Geeks Chennai.
Other groups are on the way. I am simply posting in their group , instead putting the promotion slides in events as well !

[2019-03-11 07:20] bravegnu commented on #3
Hi @abhishekmishragithub, We have two templates now. For non Python User Groups, please use the more detailed template.

[2019-03-11 07:24] bravegnu commented on #3
@abhishekmishragithub does GDG Chennai have a mailing list?

[2019-03-11 09:08] abhishekmishragithub commented on #3
@bravegnu GDG is not having any mailing list. Please let me know what needs to be done, i can go ahead with that. and let me know if PyCon team need community partners as well. i can definitely do that.

[2019-03-11 09:09] abhishekmishragithub commented on #3
Sure, i'll use latest one. Thanks !

[2019-03-11 11:36] bravegnu commented on #3
I was wondering how you posted the announcement to GDG.

[2019-03-11 11:51] abhishekmishragithub commented on #3
I did using meetup page and during events we add announcement deck of PyCon India 2019; same for Google cloud community, they have Facebook group as well, so i did mention there as well.

[2019-03-11 11:52] bravegnu commented on #3
OK, Got it!

[2019-03-12 18:39] gnurenga commented on #2
@vrsthe1  If you are a student can you add your college name ? To notify your college about the conference.  @shivank98 and @vrsthe1  please sync together since you both are from same city

[2019-03-12 18:43] raghavendrasv commented on #2
@gnurenga, I am working, not IT. May be should I take up responsibility to send to other groups or mailing lists??
yes will sync with @Shivank98.

[2019-03-12 18:52] gnurenga commented on #2
Even you can post to the group as @Shivank98 mentioned in wiki and also you can add other groups which is not mentioned. Make sure not to duplicate posting.

Yes please. It will avoid duplicate stuff :100:

[2019-03-13 10:12] abhishekmishragithub commented on #3
@bravegnu i am co-coordinating with **MumPy** as well, their mailing list seems to have a silence from very long time. I'll update once i am done.

[2019-03-13 10:14] abhishekmishragithub commented on #3
@gnurenga Please mark my check-box as completed. I have successfully posted in all groups.
Let me know if could promote this in different colleges as well (I can do that).

[2019-03-13 11:08] gnurenga commented on #3
@abhishekmishragithub  Thank you abhisek i will mark the check box. Also next time you yourself can mark the check since it is volunteer effort. :+1:  score :100:

[2019-03-15 06:50] abhishekmishragithub commented on #3
@gnurenga sure, from next time i'll do it, sorry for inconvenience. :)

[2019-03-15 17:54] shivankgtm commented on #3
@bravegnuI will send mail to the mailing list in a couple of days.

[2019-03-17 15:08] aaronstone007 commented on #3
I've updated to my groups also since most are college groups, there is a question about registration costs and workshops.

[2019-03-19 03:47] gnurenga commented on #3
@aaronstone007 Thank you. You can convey them that we will notify once we open tickets for conference and workshop.

[2019-03-19 15:54] shivankgtm commented on #3
@bravegnu, I have posted in PyJaipur mailing list. you can mark in checkboxes.

[2019-03-20 02:33] abhishekmishragithub commented on #3
@bravegnu can you please add ILUG-BOM in list.
I have sent the announcement to mailing list of ILUG-BOM (gnu/linux user group of mumbai)

[2019-03-20 02:42] abhishekmishragithub commented on #3
@bravegnu could you please add ILUG-BOM in the list.
I have sent the announcement to mailing list of ILUG-BOM

*Note : ILUG-BOM is gnu/linux user group of Mumbai

[2019-03-21 07:03] gnurenga commented on #3
Hi @niharikakrishnan Can you post the above template mail within SRM ?

[2019-03-22 10:25] Thedijje opened #5 "Require a graphic designer for Social media post"
Hi Everyone and @babuenir

We need a graphic designer for working with social media team to make updates, posts for promotion. We are planning for Facebook/Twitter and Linkedin promotion so their specs should be used.

Please revert/comment on issues if you can make it and be part of Pycon India 2019.

[2019-03-22 10:31] niharikakrishnan commented on #3
SRM clubs/teams do not have a concept of a mailing list. They mostly use FB pages where I could forward the above template. Is that alright?

[2019-03-22 10:53] gnurenga commented on #3
I guess it is fine to post the template in FB, @bravegnu Do you have any suggestion on posting same promotion mailing template as FB post.

[2019-03-22 12:58] abhishekmishragithub commented on #5
@Thedijje i know graphic designer who can design posters and banners. Please let me know on same.

[2019-03-22 13:17] Thedijje commented on #5
Hi @abhishekmishragithub
That would really be great, please mention them here or pm me on Telegram, I am having the same username there. I'll try to connect him with others in the team as well.

[2019-03-23 10:56] bravegnu commented on #5
@astronomersiva has posted a form on the PyCon India mailing list. You can ask them to sign up there?

[2019-03-23 11:01] Thedijje commented on #5
thank you @astronomersiva
I got connected and shared form for the same. Will guide him through work as soon as he signs up.

[2019-03-24 12:32] abhishekmishragithub commented on #5
@Thedijje I have shared you on twitter, couldn't find you in Telegram

[2019-03-24 13:37] iamaravindsekar commented on #5
Hi @Thedijje this is Aravind, Abhishek's friend... The graphic designer he was telling you about, I would like to work on the social media promotion campaign

[2019-03-24 17:10] Thedijje opened #6 "Sponsorship announcement with poster"
We need to publish another post with a poster/image post for sponsorship announcement.

Its been more than 2-3 weeks since the first announcement.

we need to keep this at the bi-weekly frequency to keep anyone easily able to find the links and updated information about sponsorship.

[2019-03-24 17:12] Thedijje opened #7 "Poster image for CFP announcement."
### Poster image for CFP announcement.

We are waiting for the date for CFP announcement, once the date is out, we should be able to publish it asap so best if we keep working on Poster and tweet to be shared until date is finalized.

[2019-03-24 17:13] Thedijje opened #8 "Post for CFP announcement."
### Post for CFP announcement.
Without image or text which to be supplied with the image.
CFP opens at :
Last date for CFP :

[2019-03-24 17:40] Thedijje commented on #5
Hi @noblebatman
Thanks for your initiative, please check our current requirement at https://github.com/pythonindia/inpycon2019-tasks/projects/1 and please connect me in telegram with same username @thedijje .
Looking forward.

[2019-03-25 11:21] gnurenga opened #9 "Create a mailing list for notifying the subscribers."
Create a inpycon-announce mailing list to notify all the subscribers through mail.

[2019-03-25 16:38] gnurenga commented on #9
Done mailing list ID: inpycon-announce@python.org

## Inpycon Announce Mailing list

https://mail.python.org/mailman3/lists/inpycon-announce.python.org/

[2019-03-25 16:39] #9 closed, assigned to gnurenga

[2019-03-31 04:42] bravegnu commented on #5
Given that we have a team in place now, this issue can be considered resolved.

[2019-03-31 04:42] #5 closed, assigned to nobody

[2019-03-31 04:52] bravegnu opened #11 "Obtain GST no. in Chennai"
The process has been initiated and will be completed by the first week
April. This is currently blocking other payments and invoices.

[2019-03-31 04:54] bravegnu opened #12 "Sponsorship document in PDF format"
The sponsorship document is currently in HTML format, since we were
waiting for the website and logo design. Now that the logo and web
design elements are available we can create the document in PDF
format.

[2019-03-31 04:58] bravegnu opened #13 "Book the Venues"
The CTC venue has been booked, some formalities are pending, which can
be completed once the GST no. is available and the event format is
finalized. The IITMRP can be booked once the GST no. is available.

[2019-03-31 04:59] bravegnu opened #14 "Identify and book caterers for the conference"
We need identify and book caterers for the event, to provide Lunch on
Day 1 and Day 2 of the conference.

[2019-03-31 05:24] bravegnu opened #15 "Hall allocation for the 3 tracks"
The conference will have 3 talk tracks. The CTC has 2 1000 seater
halls, 1 service lobby and 1 VIP lobby. There are two possibilites.

Divide one of the 1000 seater halls into two tracks, using a temporary
partition. The biggest challenge with this approach is to prevent
cross talk across the partition.

The second approach is to use the VIP lobby as a talk track. The VIP
lobby needs to be evaluat

[2019-03-31 05:31] abhishekmishragithub commented on #14
@bravegnu what about PySangamam cateres ?

[2019-03-31 05:31] bravegnu opened #16 "Identify and book AV for the conference"
The AV needs to cater to the following:

  * Stage setup and backdrop for the 3 talk tracks
  * Projectors / LED walls for the 3 talk tracks
  * Microphone and speakers for the 3 talk tracks
  * Recording for the 3 talk tracks

[2019-03-31 05:41] bravegnu commented on #14
We have a little more budget here, we can go for a different caterer. Also we will be better off choosing an empaneled caterer from http://www.chennaitradecentre.org/emresturant.html

[2019-04-01 04:33] bravegnu opened #17 "Identify and book caterers for the devsprints"
The devsprints are being held IITM Research Park. Need to arrange
lunch, morning and evening tea for the devsprints.

[2019-04-01 05:02] bravegnu opened #18 "Bags for conference attendees"
We will need to provide branded bags for the attendees. The bags will
contain the goodies, sponsor brochures, etc. We have a suggestion in
this regard: http://paalaguttapalle.com

[2019-04-01 06:09] gnurenga opened #19 "Create a separate page for contact person for various accounts"
We need to create a separate page for all the access to PyCon India and respective owners.
This will help every one who look to organize next year Pycon India. Also it help us smooth handover of all the access to next year

[2019-04-01 09:15] bravegnu opened #20 "Identify keynote speakers"
We are planning to have 4 keynote speakers for the event. We have
already received proposals from the community. And we are in the
process of contacting keynote speakers.

[2019-04-02 14:12] bravegnu opened #23 "VISA processing for keynote speakers"
The idea is for the keynote speakers to make the payments for the VISA
themselves, and we can reimburse them later on. Check with AFROST /
Teamarcs if there will be any issues with re-imbursements.

[2019-04-04 00:37] bravegnu opened #25 "Announce and update logo"
![banner](https://user-images.githubusercontent.com/1171852/55528396-469b4f00-56ba-11e9-8b16-3d43d9a27640.png)
[code]

[2019-04-04 00:39] bravegnu commented on #25
Let's wait for a few +1s before posting the announcement.

[2019-04-04 00:51] bravegnu commented on #25
Logo has to be updated in the following locations:

  * Twitter
  * GitHub
  * LinkedIn (if we get access to it)
  * Facebook

Did I miss anything?

[2019-04-04 01:55] astronomersiva commented on #25
I'll update the website and blog today evening

[2019-04-04 08:56] gnurenga commented on #4
This can be closed since both FB and twitter are updated with 2019 logo and banners.

[2019-04-04 08:57] #4 closed, assigned to nobody

[2019-04-04 11:56] iamaravindsekar commented on #25
Hello, I would like to get an update on how the website header logo image (PyCon India chennai 2019) should look like, Because the website wireframe has an empty Python logo. Once this gets fixed up It will be easy to proceed with the rest of the designs. For now I have made this image for header. If we already have an alternative fixed in place we can use that.
![pycon19](https://user-images.gith

[2019-04-04 13:18] gnurenga opened #26 "Identify T-Shirt vendor"
Since logo is out, we need to start identifying the vendor get some tshirt design ready.

[2019-04-04 14:57] astronomersiva commented on #25
Hi Aravind,

Our vendor is already working on the website and it should be ready by next week or so. Therefore, let's not overdo the placeholder site.

For now, you can add the logo to the website but out priority now will be to get the poster designs out for CFP and public proposals.

[2019-04-04 15:28] iamaravindsekar commented on #25
Alright done... Thank you @astronomersiva

[2019-04-04 16:20] bravegnu commented on #26
T-Shirt design will be done by Webchirpy.

[2019-04-04 16:26] bravegnu opened #27 "Try and recover access to LinkedIn company page"
There is a LinkedIn company page for PyCon India
https://www.linkedin.com/company/pycon-india/people/ We can try and
see if we can recover this account.

[2019-04-04 16:28] stylesen commented on #12
First draft of PDF prospectus. Logo needs an update with new one for the slide backgrounds. Feedback, comments welcome.
[sponsorship-prospectus-2019.pdf](https://github.com/pythonindia/inpycon2019-tasks/files/3044522/sponsorship-prospectus-2019.pdf)

[2019-04-04 16:35] astronomersiva commented on #12
I have asked for the new slides. Will update once I get them. Should be ready by tonight or tomorrow morning.

<img width="872" alt="Screen Shot 2019-04-04 at 22 04 07" src="https://user-images.githubusercontent.com/7725225/55572611-9d8a3e00-5725-11e9-9e15-e065dc6dfc08.png">

I think the text is too tightly packed. Since it's white as well, it's making it really difficult to read. We should also t

[2019-04-04 22:32] bravegnu commented on #8
![cfp](https://user-images.githubusercontent.com/1171852/55592871-7c424580-5757-11e9-87a1-0203e179dda9.png)
[code]

[2019-04-04 22:48] bravegnu commented on #8
Mail template for Python User Groups, who already know about PyCon
India.

[code]

Hi Everyone,
Our Call For Proposals is now open! You can submit your talk at https://in.pycon.org/2019/cfp.html

We would like to encourage content from diverse walks of life and increase the participation of under-represented groups. You can help us by encouraging your friends, family and colleagues to submit talks

[2019-04-05 06:12] gnurenga commented on #3
@niharikakrishnan  you can post the template in FB. Before posting CFP, first post the

[2019-04-05 06:14] gnurenga commented on #3
@niharikakrishnan  you can post the template to FB, no issues.

[2019-04-05 08:57] gnurenga commented on #19
This is done

[2019-04-05 08:57] #19 closed, assigned to gnurenga

[2019-04-05 08:58] gnurenga commented on #25
This announcement is done @bravegnu  shall we close this.

[2019-04-05 13:56] babuenir commented on #26
Referring "House of Uniforms and Fashion Clothing". Vendor of PySangamam T-Shirt

[2019-04-06 03:22] abhishekmishragithub commented on #26
Go with InkMonk they have very good quality of print discounts for big orders. I have a direct contact in InkMonk.

[2019-04-06 04:47] py-ranoid commented on #26
+1 for InkMonk. They're a Chennai-based startup. I can get in touch with their CEO.

[2019-04-06 05:23] abhishekmishragithub commented on #27
@bravegnu who was handling for last years PyCon ? We already asked this in mailing list but we didn't get positive response. Probably we should contact previous years team.

[2019-04-06 05:29] abhishekmishragithub commented on #18
@bravegnu can we choose one vendor who does tote bag printing, t-shirt and other swags.
I highly recommend InkMonk (https://inkmonk.com)

For bags have a look at this :  https://inkmonk.com/categories/cotton-carry-bags/customizable-products/large-kraft-paper-bag-printing

[2019-04-06 05:45] bravegnu commented on #26
We can get a quote a sample T-Shirt from the vendors, before deciding on one.

[2019-04-06 06:19] bravegnu commented on #18
There is a social aspect to Paalaguttapalle, please read http://paalaguttapalle.com//index.php?route=extension/d_blog_module/post&post_id=11

[2019-04-06 10:10] bravegnu commented on #8
For non-Python user groups, a small introduction about PyCon India would be helpful.

[2019-04-06 10:11] bravegnu commented on #27
I don't think the last year team had access to it either.

[2019-04-06 10:39] py-ranoid commented on #27
Can we create another LinkedIn page ?

[2019-04-06 11:39] bravegnu commented on #27
There is a LinkedIn group https://www.linkedin.com/groups/3203762/

[2019-04-06 12:25] zerothabhishek opened #28 "Create AWS account for backups"
We need Aws-S3 to backup the Junction Db. Can be used for other backups as well

[2019-04-07 18:07] raghavendrasv commented on #15
@bravegnu the 2 1000 seater halls are quite big. CTC may help in dividing using the partition.

my opinion, VIP lobby may get congested, we can plan to divide one hall, the cross talk can be reduced by the placement of speakers, once again CTC could be helping in this.

[2019-04-07 18:09] bravegnu commented on #15
@vrsthe1 The partitioning is all left out to us. CTC does not provide any support beyond providing the space.

[2019-04-08 04:03] bravegnu commented on #8
Template for non-Python user groups.

[code]

Hi Everyone,
Our Call For Proposals is now open! You can submit your talk at https://in.pycon.org/2019/cfp.html

For the uninitiated, PyCon India is India's premier conference on using and developing the Python programming language.  This year the conference is happening in the Chennai Trade Centre, on October 12 and 13, 2019. About 1200 Pythonistas fr

[2019-04-08 04:12] bravegnu commented on #8
Template for Individuals

[code]

Hi {{ name }},
Hope you are doing fine! Just wanted to let you know that call for proposals for PyCon India 2019 has opened!

PyCon India is the annual gathering of Pythonistas from across India. This year the conference is happening in Chennai, on Oct 12 and 13. It will be great if you can submit a talk proposal, and share your ideas / present your work at the co

[2019-04-08 04:22] bravegnu commented on #8
Template for Colleges / Institutions / Organizations

[code]

Hi {{ name }},
Hope you are doing fine! Call for proposals for PyCon India 2019 has opened!

PyCon India is the annual gathering of Pythonistas from across India. This year the conference is happening in Chennai, on Oct 12 and 13. It will be great to see developers from {{ org-name }} share their ideas / present their work at the confer

[2019-04-08 07:45] abhishekmishragithub commented on #12
@bravegnu and @stylesen can i use this template ?

[2019-04-08 07:47] abhishekmishragithub commented on #18
Yeah, gotcha !!

[2019-04-08 10:13] bravegnu commented on #12
Nope, it's not finished yet.

[2019-04-08 16:08] sharmi opened #29 "Decide on which approaches we will do to increase participation of women Pythonistas"
There are many ideas put forward by Team PyCon and Pyladies Chennai for creating awareness and inspiring more participation. We need to estimate the amount of effort is required and which we should prioritize.

[2019-04-09 04:19] gnurenga commented on #8
Team kindly  tick check box once you done with the post

- [x]  @gnurenga
- [x]  @abhishekmishragithub
- [x]  @aaronstone007
- [ ]  @shivank98
- [x]  @TanviKumar
- [x]  @Dhanya-Abhirami
- [ ] @niharikakrishnan
- [ ]  @py-ranoid

[2019-04-10 06:43] zerothabhishek commented on #29
Relevant: https://github.com/sharmi/inpycon2019-tasks/blob/master/Diversity/PyLadies.md

[2019-04-11 03:39] bravegnu commented on #8
Folks, these are just templates. Please feel to tweak them to suite the community you are posting to.

[2019-04-11 04:55] gnurenga opened #31 "Identify and book hotel for keynote speakers"

[2019-04-11 05:03] bravegnu commented on #20
The following speakers have been confirmed so far:

  * David Beazley
  * Ines Montani
  * Victor Stinner

[2019-04-11 05:05] bravegnu commented on #8
Please note that, we have already posted to Chennaipy, Bangpypers, Python Pune and Hyderabad Python mailing lists.

[2019-04-11 08:53] gnurenga opened #32 "Keynote speaker announcement with speaker info"
* Social Media and Mail Content
* Poster with keynote speaker image and info

[2019-04-11 09:40] sharmi opened #34 "Decide on approaches to increase students participation"

[2019-04-11 09:40] sharmi opened #35 "Decide on approaches to make conference special needs friendly"

[2019-04-11 10:07] zerothabhishek commented on #34
If the CFP is any indicator, student participation (especially research students) is fairly good, better than many conferences.

We should have some sense of an appropriate proportion to benchmark against, but I think on all reasonable benchmarks, the numbers will look good already.

[2019-04-11 13:08] zerothabhishek commented on #35
After going through the docs (https://github.com/sharmi/inpycon2019-tasks/blob/master/Diversity/SpecialNeeds.md), here are some relatively easy steps we can take -

- Make the website accessible
- Check if the venues are accessible, esp for wheelchair-bound and visually impaired people
- Add a field in registration form so the person can indicate she has special needs
- Add a similar field in CFP

[2019-04-11 16:28] bravegnu commented on #31
Currently we are looking at Hilton or Le Royal Meridien.

[2019-04-11 16:30] bravegnu commented on #32
@astronomersiva Can you assign some one to work on a template for this.

[2019-04-11 16:32] bravegnu opened #36 "Book flight tickets for keynote speakers"
Book flight tickets for keynote speakers, before which we need get the
travel itinerary from the speakers.

[2019-04-11 16:38] bravegnu opened #37 "Open CFP for workshops"
Workshops will be 2.5 hours long, hands-on sessions. The workshops
will happen on Oct 14th, and there will be 3 parallel tracks,
resulting in a total for 6 workshops. Workshops are selected through
the CFP process.

[2019-04-11 16:44] bravegnu opened #38 "Open CFP for posters"
The poster session is tentatively scheduled to be on the first day of
the conference. It will be a 1-hour session after lunch, and is
tentatively to be held at the Service lobby and the VIP lobby of the
venue. Poster presenters will be given a poster board where a A0 size
poster can be afixed. A desk will also be provided for people to place
their laptop for demonstrations.

The posters to be pres

[2019-04-11 18:05] bravegnu opened #39 "Integrate website design from Webchirpy"
Webchirpy is coming up with the final design for the website. This
needs to be integrated into the website.

[2019-04-12 02:40] bravegnu commented on #39
@astronomersiva The final design will be available only on Wednesday.

[2019-04-12 04:49] bravegnu opened #40 "Weekly workgroup meeting schedule"
With the workgroups in place we would like to start weekly sync-up meeting (online) within the workgroup. Each workgroup can come up with a week day on which they can meet regularly:

  * CFP
  * Sponsorship
  * Logistics
  * Website / Design
  * Promotion

[2019-04-12 06:46] abhishekmishragithub commented on #35
can keep direction standees as well

[2019-04-12 06:48] abhishekmishragithub commented on #28
personal account or we need to create for pycon ?

[2019-04-12 09:03] bravegnu commented on #8
Folks please do not copy the checklist, update the original check list, if you have posted.

[2019-04-13 07:24] stylesen commented on #12
This is the second draft of PDF prospectus. I request everyone to go through it and post comment, if any. This comes with the updated logo and slide designs. @astronomersiva comments are addressed too. If there are no comments on this, I shall make it the final cut of the sponsorship prospectus PDF.

[sponsorship-prospectus-2019-take-1.pdf](https://github.com/pythonindia/inpycon2019-tasks/files/30

[2019-04-13 07:43] withshubh commented on #12
I can go ahead with the sponsorship once the prospectus is final. ✌️

[2019-04-13 10:43] py-ranoid commented on #12
The sponsorship amounts in USD are much higher than the INR ones post-conversion. Is that intentional?

| Package | INR | USD
| -- | -- | -- |
|Platinum | ₹ 7,50,000 | $ 12000
| Gold | ₹ 3,50,000 | $ 5400
| Silver (Startup Discount Available) | ₹ 1,75,000 | $ 2700
| Associate (Startup Discount Available) | ₹ 50,000 | $ 800

$12000 ~ 8.3 lakhs, whereas INR amount is 7.5 lakhs

[2019-04-14 00:13] bravegnu commented on #12
Hi @stylesen thanks for the updated prospectus. A couple of backgrounds needs updating. We will be getting the updated backgrounds shortly. Pinging @astronomersiva

Feedback:
   * I would prefer light back ground for content slides and the dark background for opening and closing. Makes things a bit uniform, and provides a good contrast for the foreground text.
   * Maintain max. of 3 or 4 font siz

[2019-04-14 06:45] satyaakam commented on #12
@bravegnu has covered most of the points about colour combination , also the graphs and pie chart of participants is not not clear.

Fonts can be made a bit large not issues if we add two more extra slides to the deck

[2019-04-14 08:17] stylesen commented on #12
Based on comments from @bravegnu and @satyaakam I ve updated the slides - [sponsorship-prospectus-2019-take-3.pdf](https://github.com/pythonindia/inpycon2019-tasks/files/3077151/sponsorship-prospectus-2019-take-3.pdf)

The source for the presentation is available here - https://www.dropbox.com/s/fiszoke8za5wpiw/sponsorship-prospectus-2019.odp?dl=0

[2019-04-15 00:44] bravegnu commented on #39
Website mockup from Webchirpy is available from https://marvelapp.com/686h7c1/screen/55730870

[2019-04-15 04:27] gnurenga commented on #39
Web team did a great job with nice and clean design. The light house in between PyCon India really fits in to the conference.

[2019-04-15 06:49] abhishekmishragithub commented on #39
It looks very amazing !!

[2019-04-15 11:57] gnurenga commented on #40
Working with the current team to schedule weekly meeting.

[2019-04-15 12:45] bravegnu commented on #12
@stylesen The slides look much better now! Here are a few more suggestions:

  * The audience profile in slide 8, seems to just re-iterate the data from slide 6. It can be dropped? And the rest of the text can get a better font size?
  * Startup Discount slide can be moved after the sponsorship packages.
  * Flexibility slide can be moved after the sponsorship benefits slides. Seems more logical t

[2019-04-16 03:43] stylesen commented on #12
Yes that is intentional considering the overheads involved in getting incoming remittance and other taxes associated with it.

[2019-04-16 03:48] stylesen commented on #12
@bravegnu I ve addressed all the comments from you and the updated version of the presentation is here - [sponsorship-prospectus-2019-take-4.pdf](https://github.com/pythonindia/inpycon2019-tasks/files/3082958/sponsorship-prospectus-2019-take-4.pdf)

[2019-04-16 08:40] gnurenga commented on #40
Promotion work group have decided to meet on every Friday 9:00 PM to 9:30 PM

[2019-04-16 08:45] DudeWhoCode opened #42 "Create a general checklist for CFP volunteers"
Go through the CFPs submitted so far and create a general checklist for CFP workgroup.

[2019-04-16 08:55] DudeWhoCode opened #43 "Copy for workshop CFP"
Write a detailed copy for workshop CFP

[2019-04-16 09:54] bravegnu commented on #43
Duplicate of #37 ?

[2019-04-16 10:41] bravegnu commented on #12
Looks good @stylesen Can you please share the updated source file. I will ask @babuenir to fine tune the design, while maintaining the content.

[2019-04-16 10:49] bravegnu commented on #12
@babuenir One of the slides' background needs to be updated. The updated background is under review: https://github.com/pythonindia/inpycon2019-tasks/pull/41 We will get it merged shortly.

[2019-04-16 13:10] stylesen commented on #12
Hi @bravegnu and @babuenir I updated slide-3 with the updated background and here is the PDF -
[sponsorship-prospectus-2019-take-5.pdf](https://github.com/pythonindia/inpycon2019-tasks/files/3084973/sponsorship-prospectus-2019-take-5.pdf)

The updated source file is here - https://www.dropbox.com/s/fiszoke8za5wpiw/sponsorship-prospectus-2019.odp?dl=0

[2019-04-17 10:29] gnurenga opened #44 "Reaching out to institutions / companies for promotion"
* Companies in Chennai
  - Amazon
  - ThoughtWorks
  - PayPal
  - Bank of America
  - Freshworks
  - Comcast
  - Valeo
  - KLA
  - Tiger Analytics
  - Extreme Networks
  - Gigamon
  - OrangeScape
  - Aricent
  - Accenture
  - Pramati
  - Qube Cinemas
  - Poshmark
* NITs
  - NIT Puducherry
  - NIT Calicut
  - NIT Surathkal
  - NIT Goa
  - NIT Warangal
  - NIT Tadepalligudem
  - NIT Jaipur
* IITs

[2019-04-17 11:26] bravegnu commented on #44
Let's keep this simple Regaraj. Let's just track the list of orgs that we want to establish contact with over here. Once we have a contact point we can add it to the Promotion wiki page.

[2019-04-17 12:14] bravegnu opened #45 "Twitter Description Update"
Twitter description should contain the event date and venue.

[2019-04-17 12:14] bravegnu opened #46 "Mailing List description update"
Mailing list description should be updated to point to the current website: https://mail.python.org/mailman/listinfo/inpycon

[2019-04-17 12:15] bravegnu commented on #46
This description should preferably contain event date and venue information.

[2019-04-17 12:17] bravegnu opened #47 "LinkedIn group description update"
The PyCon India LinkedIn group description https://www.linkedin.com/groups/3203762/ needs to be updated, with the 2019 conference details.

[2019-04-17 12:19] bravegnu opened #48 "Create Event in Facebook"
A new event needs to be created for PyCon India 2019 in Facebook: https://www.facebook.com/pg/PyConIndia/events/?ref=page_internal

[2019-04-17 13:01] bravegnu commented on #39
Received design update from Webchirpy: http://demo.webchirpy.com/wc72pyc/

[2019-04-17 14:29] zerothabhishek commented on #43
I'll need the following details for writing the copy -

- How many workshops will happen ?
  6 as 3 tracks
- Duration ?
  2.5 hrs
- How many attendees per workshop ?
- What are the CFP open/close dates ?
  Apr-20 - ?
- What is the format - classical-format (instructor lead) or APAC-format ?
- Who should propose (like trainers or anyone) ?
- What topics are expected ?
- Are the proposal sections sa

[2019-04-17 21:29] babuenir commented on #12
Hi @bravegnu and @stylesen,
The look and feel of the design is updated. And the odp and pdf files are available at,
https://www.dropbox.com/s/nre6auupc8xespr/sponsorship-prospectus-2019.odp?dl=0
https://www.dropbox.com/s/ikdhgtz2wpp8fph/sponsorship-prospectus-2019.pdf?dl=0

[2019-04-18 02:36] astronomersiva commented on #39
Sharing some thoughts about the website:

<img height="300" alt="Screen Shot 2019-04-17 at 21 03 38" src="https://user-images.githubusercontent.com/7725225/56333107-77967c00-61b0-11e9-80a1-798e30e4a8ae.png">
^this part can be skipped. Doesn't really add much value but occupies a lot of space

<br>

<img height="300" alt="Screen Shot 2019-04-17 at 21 05 01" src="https://user-images.githubuserconten

[2019-04-18 04:05] abhishekmishragithub commented on #44
Are we starting this ?

[2019-04-18 05:22] bravegnu commented on #44
We will discuss this in tomorrow's weekly meeting.

[2019-04-18 05:35] bravegnu commented on #12
Applied @babuenir charts on the latest slides https://docs.google.com/presentation/d/17kJFs281u49ROMJ1wrDw0bWf5Y6JzXBw_hptU04vjsw/edit?usp=sharing

[2019-04-18 09:58] stylesen commented on #12
Sponsorship Prospectus 2019 PDF final cut - [sponsorship-prospectus-2019-final.pdf](https://github.com/pythonindia/inpycon2019-tasks/files/3093807/sponsorship-prospectus-2019-final.pdf)

[2019-04-19 03:12] bravegnu commented on #43
Yes.

Correct.

The rooms we are planning to book, can accommodate a maximum of 40 attendees. We can also check with the proposer how many people he can accommodate. For example for workshop involving hardware, there might be certain limitations on the no. of hardware boards available, etc.

Will check and get back to you on this.

Classical - Instructor lead format.

Anyone.

As long as the works

[2019-04-19 14:10] arunedwin-imaginea opened #50 "Identify Sound and light vendors"
cat: venue-logistics

[2019-04-19 14:12] arunedwin-imaginea commented on #50
Have identified someone who could help with sound, light, and acoustics in hall partition.
Name: Akash
Mobile no : 9003150034

[2019-04-19 14:20] bravegnu commented on #50
The AV needs to cater to the following:

  * Stage setup and backdrop for the 3 talk tracks
  * Projectors / LED walls for the 3 talk tracks
  * Microphone and speakers for the 3 talk tracks
  * Recording for the 3 talk tracks

[2019-04-19 14:21] bravegnu commented on #16
Superseded by #50

[2019-04-19 14:21] #16 closed, assigned to nobody

[2019-04-19 14:35] bravegnu commented on #50
Thanks @arunedwin-imaginea for the suggestion!

[2019-04-19 14:50] bravegnu commented on #43
The selected workshops should be announced atleast by 1st August. This will allow sufficient time for ticket sales. We need to back-work the dates for closing the workshop CFP accordingly.

[2019-04-19 14:56] bravegnu commented on #44
Arulalan @arulalanv a researcher from MIT is willing to help us with promotion within MIT.

[2019-04-19 15:27] bravegnu commented on #12
The latest version is available from https://github.com/pythonindia/inpycon2019-tasks/blob/master/sponsorship-prospectus.pdf

[2019-04-19 16:00] Dhanya-Abhirami commented on #44
I can help out in reaching out to IIIT Sri City.

[2019-04-20 15:43] zerothabhishek commented on #28
Ping @bravegnu
@abhishekmishragithub we need an account with PSSI or Afrost as the owner, since we are going to store personal/private information. A personal account is not appropriate for the purpose.

[2019-04-20 15:48] zerothabhishek opened #51 "Add a CFP button to the website"
There's a link in the header, but having a more visible button is a common practice. Can we add one please.

[2019-04-20 15:51] zerothabhishek opened #52 "Design update for the blog"
We need the blog to make announcements and long form posts.

[2019-04-20 16:00] abhishekmishragithub commented on #28
@zerothabhishek i'll get in touch with Vijay

[2019-04-21 05:53] bravegnu commented on #52
@zerothabhishek we are waiting for the final design from Webchirpy to update the theme and integrate blog into the website.

[2019-04-21 13:29] bravegnu commented on #40
We are moving the promotion workgroup meeting to Thursday between 9:00 PM and 9:30 PM.

[2019-04-21 13:30] bravegnu commented on #40
@stylesen Can you please add the meeting schedule for the sponsorship workgroup?

[2019-04-21 13:46] bravegnu commented on #28
Would a Dropbox account work?

[2019-04-22 03:57] gnurenga commented on #45
@bravegnu  Twitter is updated

[2019-04-22 04:08] gnurenga commented on #48
Facebook event is created https://www.facebook.com/events/168952034057586/

[2019-04-22 05:30] bravegnu commented on #45
Can we try this?

[code]

[2019-04-22 05:33] bravegnu commented on #48
Can we create 3 separate events: Conference, Workshop and Devsprints. The current event can be converted for the conference alone. And 2 separate events can be created for the Workshop and Devsprints. This will make the dates and the venues more clearer.

[2019-04-22 05:35] bravegnu commented on #45
Or better yet:

[code]

Change the Twitter user location to Chennai India. This is based on https://twitter.com/PyColorado

[2019-04-22 06:26] niharikakrishnan commented on #29
Can we fix a meeting or create a workgroup in this week to discuss these ideas? We would also need support from CFP/Promotion/Sponsorship/Logistics to help finalize on which of these ideas can actually be implemented.

[2019-04-22 06:42] arunedwin-imaginea commented on #31
We can look for feathers hotel, I saw that close to Chennai trade center. It is a five-star property well.

[2019-04-22 06:57] bravegnu commented on #31
Currently we are considering Hilton and Le Royal Meridien. We hope this will make it closer to both CTC and IITMRP.

[2019-04-22 08:38] bravegnu commented on #29
We can have a regular weekly meeting on Saturday, to discuss about diversity. Do let me know if this works for you.

[2019-04-22 09:41] babuenir commented on #39
Also, the font, "Yanone Kaffeesatz" is less legible when compared to other fonts in the page.

![image](https://user-images.githubusercontent.com/3508974/56494732-e1948580-6510-11e9-9425-da93532ac7b9.png)

[2019-04-22 09:53] niharikakrishnan commented on #29
Sure, Saturday is fine with me. Thank you!

[2019-04-22 11:40] sharmi commented on #29
Child care has been taken off as there has not been much demand in the past years. Group discount was considered wrong incentive as companies have the money to sponsor if they set their hearts to it. Other than that, all the other options are viable and on the plan.

The consensus on sponsored giveaways and goodies was that, as free, they tend to lose perceived value and are not actually used, yet

[2019-04-22 13:10] gnurenga commented on #45
Twitter is updated like below

[2019-04-22 13:12] bravegnu commented on #45
Drop "PyCon India 2019 will be held in Chennai. " Change the location in Twitter instead.

[2019-04-22 13:14] gnurenga commented on #45
@bravegnu done

[2019-04-22 13:17] bravegnu commented on #45
Also "#PyConIndia" can be dropped?

[2019-04-22 13:18] gnurenga commented on #45
"#PyConIndia" is dropped

[2019-04-22 13:22] gnurenga commented on #48
@bravegnu  updated the facebook with three events.
1. https://www.facebook.com/events/168952034057586/
2. https://www.facebook.com/events/884786628519593/
3. https://www.facebook.com/events/422743604954265/

[2019-04-22 14:20] bravegnu commented on #34
As @zerothabhishek rightly pointed there is good student participation, as attendees. As for speakers, I think the CFP reviewers have to operate without bias, and have to evaluate the talk based on its content and speakers capabilities irrespective of their age.

But one problem I saw w.r.t students, that was not addressed in PySangamam and PyCon India 2018, was that attendees wanted participation

[2019-04-22 16:08] bravegnu opened #53 "Add Categories in CFP"
Add the following categories:

  * Scientific Computing - GIS, Mathematics, Simulations
  * Game Development - 2D/3D Games, Animations
  * Desktop Application Development - Qt, GTK+, Tkinter, Gnome, KDE, Accessibility

[2019-04-22 17:00] bravegnu opened #54 "Improve the CoC"
The Code of Coduct needs a little bit cleanup:

  * The long version and short version look very similar. The short version should be really short, and provide the gist. And the long version should have all the details.

  * The procedure to handle CoC violations, and the escalation procedure, should be clearly documented.

[2019-04-23 04:30] gnurenga commented on #48
Done and closing the issue

[2019-04-23 04:30] #48 closed, assigned to nobody

[2019-04-23 04:31] gnurenga commented on #45
Done

[2019-04-23 04:31] #45 closed, assigned to nobody

[2019-04-23 05:33] bravegnu opened #55 "Add the conference to Python Events Calendar"
We need to get our event added over here: https://wiki.python.org/moin/PythonEventsCalendar

[2019-04-24 08:19] bravegnu commented on #44
Reach out to folks at Aura Auro http://www.auraauro.com They even seem to be doing workshop on Django.

[2019-04-25 15:52] bravegnu commented on #44
Rajkumar has met with NITT students has given them a brief of the event. He is also getting in touch with Bishop Heber College and IIIT Srirangam.

He is planning to reach out to Govt. College of Engineering in Theni.

[2019-04-25 16:45] bravegnu commented on #39
![screenshot1](https://user-images.githubusercontent.com/1171852/56752907-02760880-67a7-11e9-89db-0e70918f55e0.png)

1 - the yellow line overshoots the button?
2 - it will be better if this outline is avoided, as suggested by the PSF

![screenshot2](https://user-images.githubusercontent.com/1171852/56752908-02760880-67a7-11e9-89b6-71d276a6c5a2.png)

3 - This is similar to 1
4 - This does not give

[2019-04-26 03:20] astronomersiva commented on #39
- The Central Station image in the header section does not scale well on both medium and large screens.
- There is an overlap of the cloud design and the buy tickets button.
![photo6204062044571936918](https://user-images.githubusercontent.com/7725225/56781065-5f051200-67ff-11e9-8ee4-2c4065d35a20.jpg)
- The tickets table is not responsive.
- The yellow border above the buttons should be consistent

[2019-04-26 04:07] bravegnu commented on #39
![double-line-header](https://user-images.githubusercontent.com/1171852/56782860-99be7880-6806-11e9-97bb-7b837cb28fea.png)

It will be better if we can avoid the double line-ing of the header.

![triple-line-header](https://user-images.githubusercontent.com/1171852/56782862-9cb96900-6806-11e9-9fa4-14e3dc56a589.png)

And also this triple line-ing of the header.

![text-over-central](https://user-im

[2019-04-26 04:08] bravegnu commented on #39
Also notice the train gets offset from the center of the tunnel, when the window width is decreased.

[2019-04-26 04:46] webchirpy commented on #39
Hi Team! We are looking into the issues and will update once its done

[2019-04-27 08:06] webchirpy commented on #39
Hi Team, we have fixed all the issues. please have your review. We are improvising some minor corrections in the mobile version and will update once done.

[2019-04-28 06:35] bravegnu commented on #44
Attended Women in Data Science meetup yesterday, where I got to meet the organizers, folks from H2O.ai and folks from Paypal who were providing space for the meetup. Will write a detailed report to the promotions workgroup.

I also got to meet a people from Pramati, HappyFox, Virtusa and Comcast, yesterday at the Chennaipy meetup. Will be getting in touch with them, shortly.

[2019-04-28 09:02] pradyunsg commented on #34
Hey, I'm a student! I can confirm what @bravegnu is saying.

We need to produce proof at our college, regarding attendance at the events out of college, and they do not consider a paper ID cards as proof of attendance. Participation certificates are definitely very helpful on this front, since there's a standard process for handling students who attend certificated events (eg. almost always attend

[2019-04-28 16:30] bravegnu commented on #39
Hi @webchirpy, can you please deliver the files, so that we can integrate them into the website.

[2019-04-28 16:56] webchirpy commented on #39
Coding files has been sent through email. Thanks!

[2019-04-29 03:10] sharmi commented on #34
Sure Pradyun,
             That would be most helpful. Is it uploaded somewhere that we
can access?

On Sun, Apr 28, 2019 at 2:32 PM Pradyun Gedam <notifications@github.com>
wrote:

[2019-04-29 03:26] sharmi commented on #44
I can help with promoting in CEG.

[2019-04-29 15:46] bravegnu commented on #1
Superseded by #44

[2019-04-29 15:46] #1 closed, assigned to nobody

[2019-04-29 16:15] bravegnu commented on #37
Superseded #43

[2019-04-29 16:15] #37 closed, assigned to zerothabhishek

[2019-04-29 16:22] bravegnu opened #56 "Create a Feedback form"
Create a feedback form which can get input and feedback from attendees, in an anonymous fashion.

[2019-04-29 16:44] bravegnu opened #57 "Ticket / Registration Form"
* City of origin, is required for audience profile for sponsors
  * Organization / Institution
  * Veg / Non-Veg
  * Support Person / Guardian
  * Topic Preferences
  * Years of Experience
  * Profession
  * Acceptance of Code-of-Conduct!

[2019-04-30 04:23] gnurenga commented on #44
@arulalanv we have invited you to join Promotion work group, Please check your mail.

[2019-04-30 06:54] sharmi opened #58 "Create blog post on how to make the most out of conference"
Hopefully sharing it out with minority groups will motivate them to join. The aims of the post are

* Showcase different possibilities available in a conference.
* minimum criteria for attending a conference ( === null) or who is it for( == everybody )
* a brief mention of facilities available
* Links to journals about previous conferences

[2019-04-30 12:01] abhishekmishragithub commented on #55
@bravegnu please assign this to me. I have already sent mail to events team. I do not have privilege for self assigning the issue.

[2019-04-30 13:44] bravegnu commented on #57
T-Shirt Size

[2019-05-02 03:35] zerothabhishek commented on #43
Draft:
[code]

More questions:
- Is there a remuneration planned for the trainers
- Will volunteers be provided to help the attendees. If so, how many. If not, should the trainer bring her own volunteers

@bravegnu @DudeWhoCode

[2019-05-02 03:38] zerothabhishek commented on #53
Done

[2019-05-02 03:38] #53 closed, assigned to zerothabhishek

[2019-05-02 03:43] zerothabhishek commented on #28
(Sorry for the late response). Dropbox may not be appropriate. Since this is backup data, it will occupy a big chunk of space on Dropbox. It will also get synced across multiple devices, which is not desirable.

[2019-05-02 14:27] bravegnu commented on #43
PyCon India

14th Oct

Also include the closing date, and selected workshop announcement date.

Venue is IITM Research Park

If there is something specific we can mention, otherwise this should be obvious?

The workshop should help attendees learn a new skill, technology or library.

This is a nice to have, and is generally based on availability of budget. So while we might end up giving them a ho

[2019-05-02 16:02] bravegnu commented on #55
@abhishekmishragithub Any update on this?

[2019-05-02 16:11] bravegnu commented on #44
I have got a few contact in the companies listed above, will send them to you @gnurenga

[2019-05-02 17:50] bravegnu commented on #27
Did not materialize let's drop this.

[2019-05-02 17:50] #27 closed, assigned to nobody

[2019-05-03 09:55] abhishekmishragithub commented on #55
@bravegnu I've been following with event team. I had already send mail to them (events@python.org) for same. Still i did not get any response from them.

I followed the process mentioned below:
https://wiki.python.org/moin/PythonEventsCalendar

[2019-05-03 09:59] bravegnu commented on #55
OK, let's wait for their response.

[2019-05-03 10:19] gnurenga opened #59 "Adding meetup event on conference in meetup groups in India"
Approach event organizers to create an event for PyCon India 2019 Conference
- [x] Chennaipy
- [x] PyLadies Chennai
- [x] Bangpypers
- [ ] HydPy
- [x] DelhiPy
- [x] KovaiPy

## To Do
* Reach out to possible meetup groups

[2019-05-03 10:20] gnurenga opened #60 "Add PyCon India 2019 conference as up coming events in Chennaipy Website Dashboard"

[2019-05-03 11:33] gnurenga commented on #60
A pull request is created for this issue https://github.com/Chennaipy/website/pull/141

[2019-05-03 11:40] gnurenga commented on #60
Landing page look like below
![landing-page](https://user-images.githubusercontent.com/3196294/57135236-4def6e80-6dc6-11e9-88d4-e780ad1cbd41.png)

[2019-05-04 05:54] bravegnu opened #61 "Post for Workshop CFP announcement"
![workshop-cfp](https://user-images.githubusercontent.com/1171852/57174610-184a9400-6e5f-11e9-8245-cf2f81e52205.png)

[code]

[2019-05-04 05:56] bravegnu commented on #61
@zerothabhishek @astronomersiva @dudewhocode Please +1.

[2019-05-05 14:08] bravegnu commented on #61
Email template for Python meetup groups.

Subject: PyCon India 2019: Call for Workshop Proposals
Body:

Hi Everyone,
CFP for workshops is now open! Workshops happen on Oct 14th (3rd
day of PyCon India 2019). Please visit
https://in.pycon.org/cfp/workshops-2019/proposals/ to submit your
workshop proposal.

For the uninitiated, PyCon India 2019 is happening in Chennai, between
Oct 12 and Oct 15. For

[2019-05-05 23:32] bravegnu commented on #61
Email template for inpycon-announce.

Subject: PyCon India 2019: Call for Workshop Proposals
Body:

Hi Everyone,
CFP for workshops is now open! Workshops happen on Oct 14th (3rd
day of PyCon India 2019). Please visit
https://in.pycon.org/cfp/workshops-2019/proposals/ to submit your
workshop proposal.

For the uninitiated, PyCon India 2019 is happening in Chennai, between
Oct 12 and Oct 15. For mor

[2019-05-06 00:21] bravegnu commented on #61
@gnurenga Updated people who have registered for subscriptions to inpycon-announce.

[2019-05-06 01:44] bravegnu commented on #61
Email template for other meetup groups.

Subject: PyCon India 2019: Call for Workshop Proposals
Body:

Hi Everyone,
CFP for workshops is now open! Workshops happen on Oct 14th (3rd
day of PyCon India 2019). Please visit
https://in.pycon.org/cfp/workshops-2019/proposals/ to submit your
workshop proposal.

PyCon India is India's annual conference for the Python programming
language. The event is hap

[2019-05-06 02:16] bravegnu commented on #61
Sent mails to InPyCon, Chennaipy, HydPy, Python Pune and PyDelhi, so far.

[2019-05-06 06:08] bravegnu commented on #44
We need to reach out to https://djangogirls.org/trivandrum/

[2019-05-06 10:59] bravegnu opened #62 "Pro Tip for introverts at a conference"
We need to RT this with a message suitable for PyCon India https://twitter.com/valeriecodes/status/1124760525441839105

[2019-05-07 09:13] bravegnu commented on #62
Tweet:

If you are introverted, you can make best use of PyCon India, by becoming a speaker. Visit https://in.pycon.org/ to submit your talk / workshop proposal.

#Python #PyConIndia2019

[2019-05-07 10:24] gnurenga commented on #62
Done. https://twitter.com/pyconindia/status/1125702846492565504

[2019-05-07 19:27] sharmi opened #63 "Update the Convince the Boss page"
* Make it shorter

* The benefits should be explained more clearly and more succinctly

* Personalizeable (Like highlight talks/tracks/other features in PyCon that will have high relevance in their company)

[2019-05-07 19:33] sharmi opened #64 "Create speaker recommendation form"
Create a form that we can circulate among meetup groups to recommend speakers.

The goal is to get speakers from diverse backgrounds and on diverse topics.

Ideally we should be able to get the speaker's name, meetup group name, topic that they had spoken on, areas of expertise, phone and/or email id, the recommender's name.

The most important fields would be speaker's name and contact info.

[2019-05-08 00:42] #62 closed, assigned to nobody

[2019-05-08 00:45] bravegnu opened #65 "Tweet: Invite women speakers to submit proposals"
![women-speakers](https://user-images.githubusercontent.com/1171852/57341542-770e5700-7158-11e9-9b99-eb15f6cc186b.png)

Have a favourite women speaker / blogger / coder, who you think should take the stage at #PyConIndia2019?

Give them a gentle nudge, by tagging them. RT to reach more #WomenInTech #PyLadies #WomenWhoCode #WWCode #DjangoGirls #WIDS

Submit proposals at https://in.pycon.org/

[2019-05-08 05:14] gnurenga commented on #47
## Previous description
`Discussions about organizing Pycon India, talk proposals, registrations, sponsors and other details. Join in if you are a delegate attending Pycon India 2018, a current or prospective sponsor, organizer or volunteer or a Python enthusiast willing to join our discussions and contribute his/her voice to the event!`

## Request for New Description
Discussions about organizing

[2019-05-08 05:35] aditiprakash commented on #65
Other suggested hashtags-

#girlswhocode #stem #womanprogrammers #techladies #WomeninSTEM

[2019-05-08 07:27] rajkumartreads commented on #44
To update, I'm reaching the following organizations:

**Colleges/Universities:**

NIT Trichy
IIIT Srirangam Trichy
IIM Trichy
Bishop Heber College Trichy
SASTRA Trichy
Bharathidasan University Trichy
Government College of Technology Coimbatore
Thiagarajar College Madurai
Government College of Engineering Theni
Cochin University
NITIE Mumbai
NIT Puducherry
NIT Warangal

**Companies:**

DRDO Cochin

[2019-05-08 08:37] bravegnu commented on #65
@aditiprakash Can you let me know which are the top 10 hash tags (sorted), because we have already hit the 280 character limit.

[2019-05-08 10:49] stylesen commented on #12
The PDF document is up in the website https://in.pycon.org/2019/index.html#sponsorship hence closing this issue.

[2019-05-08 10:49] #12 closed, assigned to nobody

[2019-05-08 10:51] stylesen commented on #40
@bravegnu happens every week on Wednesday's at 8:30-9:00pm IST starting from 08-may-2019.

[2019-05-08 10:57] sharmi commented on #65
#womentechmakers

[2019-05-08 13:02] bravegnu commented on #44
And this too https://pehia.org/

[2019-05-08 16:34] bravegnu commented on #47
@gnurenga Edited the message. Changed Pycon to PyCon. And added date and venue.

[2019-05-08 17:18] bravegnu commented on #28
What is the expected size of the data. Also Dropbox can be uploaded through the web interface.

[2019-05-08 17:43] bravegnu commented on #59
Please check https://www.meetup.com/Chennaipy/events/261292751/

[2019-05-08 17:56] bravegnu commented on #59
We can also add Kovaipy and may be Pyladies meetup groups as well.

[2019-05-08 17:58] bravegnu commented on #60
I have added a comment @gnurenga Can you please fix it?

[2019-05-08 22:57] gnurenga commented on #60
Done @bravegnu

[2019-05-08 22:57] bravegnu commented on #65
Based on @sharmi suggestions, I think we can tag top women-in-tech groups, who are more likely to retweet us, and get us better visibility.

[2019-05-08 23:33] bravegnu commented on #65
![women-speakers](https://user-images.githubusercontent.com/1171852/57341542-770e5700-7158-11e9-9b99-eb15f6cc186b.png)
[code]

[2019-05-08 23:47] gnurenga commented on #47
Sent mail to Anand

[2019-05-09 02:37] sharmi commented on #65
Sounds great Vijay, The groups you have tagged are international ones. Here are the handles of local chapters that have been active within last year. I am hope if we tweet to the parent groups, the local chapters will pick them up. If not, we can tweet to them again.

@AnitaBorg_India @WWCodePune @WTMSriLanka @WooTechology 	@Wwcodesingapore
 @DjangoGirlsBLR @GirlsGurgaon	@djangogirlspune	@djangong

[2019-05-09 03:58] gnurenga commented on #60
Since the dashboard change is merged I am closing this issue.

[2019-05-09 03:58] #60 closed, assigned to gnurenga

[2019-05-09 09:26] bravegnu commented on #65
Tweeted https://twitter.com/pyconindia/status/1126404549093150722

[2019-05-09 09:26] #65 closed, assigned to nobody

[2019-05-09 09:27] bravegnu commented on #65
OK

[2019-05-10 06:08] gnurenga commented on #47
LinkedIn PyCon India user group info is updated. Closing this issue.

[2019-05-10 06:09] #47 closed, assigned to nobody

[2019-05-12 10:29] bravegnu opened #68 "Happy Mother's Day"
![mothers_day](https://user-images.githubusercontent.com/1171852/57580990-6c442100-74ce-11e9-9e94-b96ade44c249.png)

[code]

[2019-05-12 10:32] bravegnu commented on #68
Yet another wonderful contribution from Aditi.

[2019-05-13 08:49] #68 closed, assigned to nobody

[2019-05-13 08:49] bravegnu commented on #68
Posted at https://twitter.com/pyconindia/status/1127530248545886208

[2019-05-13 08:54] bravegnu opened #69 "Website Update"
[code]

[2019-05-13 16:04] #46 closed, assigned to bravegnu

[2019-05-13 16:04] bravegnu commented on #46
The description has been updated.

[2019-05-13 16:19] astronomersiva commented on #52
Closing this.

[2019-05-13 16:19] #52 closed, assigned to nobody

[2019-05-13 16:20] astronomersiva commented on #51
Closing this.

[2019-05-13 16:20] #51 closed, assigned to nobody

[2019-05-13 16:20] #39 closed, assigned to nobody

[2019-05-13 17:28] bravegnu commented on #69
https://twitter.com/pyconindia/status/1127924355189493760

[2019-05-13 17:28] #69 closed, assigned to nobody

[2019-05-13 17:29] bravegnu opened #70 "Keynote Speaker Announcement"
![keynote-speaker](https://user-images.githubusercontent.com/1171852/57641440-a39bf600-75d2-11e9-9e74-acde3a78022c.png)

[code]

[2019-05-13 17:30] bravegnu commented on #70
We might want to add a blog link, once Siva gets the article on the blog.

[2019-05-14 06:57] rajkumartreads commented on #61
Reached KovaiPy.

[2019-05-14 07:57] gnurenga commented on #70
I remove this handle @_inesmontani so that i can post in Facebook. @bravegnu  Is that ok ?

[2019-05-14 08:06] gnurenga commented on #50
At PyCon US two important Keynote recorded video was missed, Below is the twitter thread discuss about that issue, We also need to be careful with backups.
https://twitter.com/pycon/status/1128031227569745920

[2019-05-14 08:13] niharikakrishnan commented on #59
PyCon India 2019 event has been added to PyLadies Chennai Meetup Group.
[https://www.meetup.com/pyladieschennai/events/261445255/](https://www.meetup.com/pyladieschennai/events/261445255/)

[2019-05-14 08:17] bravegnu commented on #70
OK @gnurenga

[2019-05-14 08:18] bravegnu commented on #59
Thanks @niharikakrishnan

[2019-05-14 08:48] arunedwin-imaginea commented on #26
SKR Garments
Tirupur
+91 9952118456

Item Name | Price
Round neck  Non-wash   Size  XS to .  XXL   | Rs 170.00Rs 150.00 above 1000 pcs
Collor  T-shirt  Bio-wash  240 gsm Size  M  to XXL  | Rs 290.00Rs 270.00 above 500 pcs

They would give us a sample t-shirt for the material feel. To whom should we send the sample T-shirts.

[2019-05-15 11:24] zerothabhishek commented on #38
I'll need some help with the copy for posters. If there's one from another/older conf, that too would be useful

[2019-05-15 11:30] gnurenga commented on #61
## Mailed to below groups
- [x] Chennai Geek Night
- [x] IOT geeks

[2019-05-15 12:17] sharmi commented on #54
Have taken the main points from our code of conduct to be highlighted on the registration page.

I agree to the <a href="https://in.pycon.org/2019/code-of-conduct.html">Code of Conduct.</a>

* Be kind and sensitive to the people around me and avoid any kind of offensive behavior. Sexist, racist or any other form of exclusionary or offensive jokes/content/clothing or excessive public swearing are n

[2019-05-15 12:20] bravegnu commented on #38
Will this be helpful? https://us.pycon.org/2019/speaking/posters/

[2019-05-15 12:34] zerothabhishek commented on #38
Yes that helps. Thanks

On Wed, May 15, 2019 at 5:50 PM Vijay Kumar <notifications@github.com>
wrote:

[2019-05-16 10:27] sharmi commented on #54
Report and Resolution Guide : Django - https://www.djangoproject.com/conduct/reporting/

[2019-05-16 21:29] sharmi opened #71 "Speaker Recommendation Form to discover new speakers"
The form is here https://forms.gle/piodZz74SZZuw7M19

The message to be sent with the form (and also present in the form itself)

PyCon India 2019 wants to fairly represent the complete Python community in India. That means not just the Python experts. It also means people from unrelated fields for whom Python just happened to be the best tool for their job.  A tinkerer who made magic with Python.

[2019-05-16 21:31] sharmi commented on #71
Made a small change to the form again.

https://forms.gle/t84VA4m7fQ5mCnfRA

[2019-05-17 04:11] bravegnu opened #72 "Social Media: CFP Closes in 45 Days"
![cfp45](https://user-images.githubusercontent.com/1171852/57902607-bd199800-7887-11e9-840d-bcb6ed84688e.png)

Call for talk and workshop proposals closes in 45 days! Head to https://in.pycon.org/ and submit your proposal now! #Python #PyConIndia2019

[2019-05-17 04:47] bravegnu commented on #72
![cfp45](https://user-images.githubusercontent.com/1171852/57903697-d96c0380-788c-11e9-83f2-47864b356446.png)

Call for talk and workshop proposals closes in 45 days! Don't wait till the last moment to submit your proposal! Submit proposals at https://in.pycon.org/

#Python #PyConIndia2019

[2019-05-17 04:52] bravegnu commented on #72
![cfp45](https://user-images.githubusercontent.com/1171852/57903830-978f8d00-788d-11e9-8f0f-3d1297832c4c.png)

Call for talk and workshop proposals closes in 45 days! Don't wait till the last moment to submit your proposal! Submit proposals at https://in.pycon.org/

#Python #PyConIndia2019

[2019-05-17 07:32] bravegnu commented on #72
Posted on LinkedIn, Facebook and Twitter.

[2019-05-17 07:32] #72 closed, assigned to nobody

[2019-05-17 10:35] bravegnu commented on #26
@arunedwin-imaginea Can you please co-ordinate with @babuenir @abhishekmishragithub and get the quote from other vendors as well?

[2019-05-18 09:56] bravegnu commented on #59
Sent requests to Kovaipy, HydPy, PyLadies Delhi, Mumbai Python User Group, Pune Python User Group, Kochi Python User Group and Bengaluru PyLadies.

[2019-05-19 03:36] sharmi commented on #71
Shalini caught an important omission.

If the person who is filling the form is willing to give a talk, there should be a link to call for proposals page.

Added that link.

The updated form is here https://forms.gle/pUm6VxKXinsE5bpb6

[2019-05-19 03:38] sharmi commented on #71
PyCon India 2019 wants to fairly represent the complete Python community in India.

That means not just the Python experts. It also means people from unrelated fields for whom Python just happened to be the best tool for their job.  A tinkerer who made magic with Python. A Pythonista from an underrepresented community. A novice, learning Python from the first time (because learning Python now is n

[2019-05-20 04:09] gnurenga commented on #71
@sharmi  Is the above template is  the final one ? Shall we go ahead and post

[2019-05-20 05:18] sharmi commented on #71
Yes @gnurenga

[2019-05-20 06:07] gnurenga commented on #71
Subject: Regarding Speaker Recommendation for PyCon India 2019

Hi

PyCon India 2019 wants to fairly represent the complete Python
community in India.

That means not just the Python experts. It also means people from
unrelated fields for whom Python just happened to be the best tool for
their job. A tinkerer who made magic with Python. A Pythonista from an
underrepresented community. A novice, le

[2019-05-20 06:12] gnurenga commented on #71
Mail sent to inpycon, chennaipy, hydpy, bangpypers, iot-geeks, chennai-geeknights, pyladies-chennai, ilugc

[2019-05-20 06:54] arunedwin-imaginea commented on #26
Hi Vishal, If you know the CEO in person, Please talk to him and get a quote on the t-shirts. And share it here.

[2019-05-20 07:49] gnurenga commented on #71
@sharmi  I have added the form in to the template mail, also I sent the form to the mailing list as a respond to the previous mail.

[2019-05-21 14:27] abhishekmishragithub commented on #55
Added the conference to Python Events Calendar.
Links :
https://www.python.org/events/python-events/?page=4
https://www.python.org/events/python-events/845/

[2019-05-21 14:56] sharmi commented on #71
ok @gnurenga

[2019-05-21 15:25] abhishekmishragithub commented on #71
mail sent to ILUG-BOM, fn+geeks group

[2019-05-21 16:24] #55 closed, assigned to nobody

[2019-05-21 16:42] #70 closed, assigned to nobody

[2019-05-21 16:44] bravegnu opened #73 "Keynote Speaker Annoucement - 2"
![keynote-speaker-2](https://user-images.githubusercontent.com/1171852/58114976-a2904780-7c16-11e9-8d27-223b833673f1.png)

[code]

[2019-05-21 16:56] aditiprakash opened #74 "Social-Media Announcement Dates Aggregate"
Deadlines -
CFP Talk : 1st July
Workshop : 1st July
Tickets open : 3rd June

Countdown Posts:

|Topic| Days before Deadline        | Date           | Status |
|-------------|:------------- |:-------------:| -------------:|
CFP Talk, Workshop| 45 | May 17 |:heavy_check_mark: |
Tickets Open| 3 | May 31  | :heavy_check_mark: |
Tickets Open|0|June 3|:heavy_check_mark:|
CFP Talk, Workshop| 20 | June 11

[2019-05-22 09:22] bravegnu opened #75 "RT Jessica's Tweet on Sha"
RT: https://twitter.com/jessicamckellar/status/1127639837870383105

[code]

[2019-05-23 06:36] sharmi opened #76 "Tweet to recommend speakers for PyCon India 2019"
Help PyCon India '19 discover the hidden gem of Pythonista speakers in India, from diverse backgrounds and experiences.  https://forms.gle/pUm6VxKXinsE5bpb6

Hint: You can be that gem too.

[2019-05-23 07:07] sharmi opened #77 "Post on Reddit for recommending speakers and CFP deadline"
Content

PyCon India 2019 : You recommend Pythonista for talks, We invite them. 40 days to go.

Link:  https://forms.gle/pUm6VxKXinsE5bpb6

Subreddits

/r/python
/r/learnpython
/r/networking
/r/webdev
/r/flask
/r/django
/r/IOT
/r/girlsgonewired
/r/cswomen
r/LadiesofScience
r/xxstem
r/pyladies
r/AssistiveTechnology

[2019-05-23 07:42] sharmi commented on #54
The shorter code of Conduct will be placed on the ticket registration page just before they pay.

The aim of the short code of conduct

* Emphasize that we take any violation our CoC seriously
* Be easy to read, so people's eyes don't glaze over.
* Highlight the most important points of our CoC

This one is derived from TED's code of conduct
https://www.ted.com/attend/conferences/registration-poli

[2019-05-23 07:43] sharmi commented on #54
We invite you to come to PyCon India 2019 in a spirit of curiosity, friendliness, open-mindedness, and respect. We will not tolerate harassment in any form.

At the PyCon India venue and related online forums, you agree to:

- Be kind and sensitive to the people around you and respect the boundaries of other attendees.
- Attempt to resolve difference of opinions peacefully
- Avoid harassment, excl

[2019-05-24 04:15] bravegnu opened #78 "Fixup dates on Facebook page"
The date on the Facebook page https://www.facebook.com/pg/PyConIndia/about/?ref=page_internal needs to be updated.

[2019-05-24 06:51] bravegnu opened #79 "Fix typo in Sponsorship Prospectus"
From Sponsorship workgroup:

[code]

[2019-05-24 06:52] bravegnu commented on #79
@babuenir Can we have the slides in ODP format, and can we make the above mentioned change.

[2019-05-24 06:53] bravegnu commented on #75
Done.

[2019-05-24 06:53] #75 closed, assigned to nobody

[2019-05-24 08:37] gnurenga commented on #78
Fixed @bravegnu Could you please check it ?

[2019-05-24 08:44] bravegnu commented on #78
Can we just make it "Oct 12 - 15"?

[2019-05-24 08:47] gnurenga commented on #78
Done

[2019-05-24 09:14] bravegnu commented on #76
I am starting grow little skeptic about this @sharmi We can give it a try if you want. There seems to be no motivation for people to do this.

This is not the case with recommending women speakers, because the women-in-tech are standing up for each because of a shared common cause. They want to change the status-quo.

So it is better to target specific crowds, that feel strongly for each other, ra

[2019-05-24 09:18] bravegnu commented on #76
We can send this out to specific communities like http://www.visionaid.org/about-vision-aid where people stand for each other. And another is http://inclusivestem.org/

[2019-05-26 15:46] abhishekmishragithub commented on #77
@sharmi shall i proceed with this ?

[2019-05-26 15:53] abhishekmishragithub opened #80 "Flyers for offline promotion"
Paper Pamphlet design for promotion work

[2019-05-26 17:57] sharmi commented on #77
Sure Abhishek. Vijay feels it might be spamming as many are not from India,
but it was agreed to give it one try and back off if people feel so. Let's
not post the recommend speakers. Please post the days left for CFP.

On Sun, May 26, 2019 at 9:16 PM Abhishek Mishra <notifications@github.com>
wrote:

[2019-05-27 04:48] bravegnu opened #81 "Poster for Ticket Announcement"
We will be making an announcement for tickets shortly. We will need a social media poster for announcing the tickets.

[2019-05-27 06:55] abhishekmishragithub commented on #77
Initially i had posted in 'r/Python' and got positive responses.
so mostly i'll try to keep it within python and its related circles.

[2019-05-27 06:55] abhishekmishragithub commented on #77
@sharmi Initially i had posted in 'r/Python' and got positive responses.
so mostly i'll try to keep it within python and its related circles.

[2019-05-27 11:36] abhishekmishragithub commented on #26
@bravegnu  i spoke with InkMonk , they can give discounts on bulk order. We need to mail T-shirt design and depending on that they will get back to us.
the average t-shirt price is - 195 Rupee (Checked on website)

[2019-05-27 16:07] sharmi opened #82 "Get community consensus on workshops for children"

[2019-05-27 16:08] sharmi opened #83 "Add accessibility guidelines and code of conduct guidelines to speaker's guidelines"

[2019-05-27 16:08] sharmi opened #84 "Add accessibility guidelines and code of conduct guidelines to stall owners"

[2019-05-27 16:09] sharmi opened #85 "Create blog post for the accessibility features that we can assure"

[2019-05-28 04:45] sharmi opened #86 "Tweet for invitation to use childcare"
If there is enough demand, PyCon India wants to provide Child Care facility. Are you a parent of young kids? Do you need Child Care in PyCon India 2019? If yes, please tag yourself.

[2019-05-28 04:48] bravegnu commented on #86
This is like addressing people who are attending PyCon India 2019, and asking them do they want child care. A better way to phrase it would be:

Are you a parent of young kids? Do you think that a child care option at PyCon India 2019, would increase 'your' chances of participating in the conference? If yes, please hit like.

[2019-05-28 05:15] bravegnu commented on #86
Tweet with Poll:

Are you a parent of young kids? Do you think that a child care option at PyCon India 2019, would increase 'your' chances of participating in the conference?

* Yes
* No

[2019-05-28 05:15] sharmi commented on #86
Are you a parent of young kids?

Do you think that a child care option at PyCon India 2019, will increase 'your' chances of participating in the conference?
Vote yes.

[2019-05-28 05:26] sharmi commented on #86
Tweet with Poll:

Are you a parent of young kids? Do you think that a child care option at PyCon India 2019, would increase 'your' chances of participating in the conference?

-  Yes
-  No

#pyladies #womenwhocode #WomenTechMakers

[2019-05-29 06:30] bravegnu opened #88 "Identify child care partners"
The results of the poll on Twitter, indicate that there is sufficient interest in taking up child care, if it is announced earlier. We just need to identify partners who can help us out with this. A few are listed below.

  * http://www.hanselandgretel.in/
  * http://www.amelio.in/

[2019-05-29 06:45] sharmi opened #89 "Tweet for interest to kids workshop"
Tweet with Poll:

Do you have kids older than 7? Would having a two day kids science/programming workshop increase 'your' chances of participating in the conference?

    Yes, having a Kids Science/Programming Workshop will be helpful
    No

#pyladies #womenwhocode #WomenTechMakers

[2019-05-29 06:59] bravegnu commented on #89
@sharmi I guess we can sense the community, from the previous tweet. People are interested if we inform them early on. So I guess we can start looking for partners, come up with an engagement plan and it include as part of the ticketing process.

[2019-05-29 07:23] bravegnu opened #90 "Ticketing Platform is not Accessible"
The ticketing platform is not accessible, and I don't think this is going to be fixed any time soon. We need to have an alternative mechanism in place, for people who use screen readers.

One option is provide a email ID, where they can mail us their details, and we can get in touch with them, and ask them wire the amount to our bank account. And then we will need to generate tickets from the tick

[2019-05-29 09:14] sharmi commented on #90
Paypal is accessible. https://www.afb.org/blindness-and-low-vision/using-technology/online-shopping-and-banking-accessibility-people-visual-2

Wondering if we can use paypal.me or similar feature . You could also send a request for payment link over email. They can click on the link and pay.

https://www.paypal.com/lu/smarthelp/article/how-do-i-request-payments-or-send-an-invoice-via-paypal-faq215

[2019-05-29 09:25] bravegnu commented on #90
@sharmi Does that require sign-up / setup from the user side? If yes, that might add to the burden.

Given that there will be only few users using this mode, we can deal with it using NEFT. Anybody who already has a PayPal account can transfer using PayPal NEFT.

[2019-05-29 10:01] sharmi commented on #90
Yes, sign-up will be required.  So NEFT will be better.

Hopefully, they would have opted for an account in a bank that is has
accessible website.

On Wed, May 29, 2019 at 2:55 PM Vijay Kumar <notifications@github.com>
wrote:

[2019-05-29 10:46] bravegnu commented on #90
We will need a few volunteers who can manage these requests. @sharmi Can you arrange for that from the Diversity workgroup?

[2019-05-29 12:25] abhishekmishragithub commented on #90
@bravegnu can't we use 3rd party payment gateways like instamojo or eventbrite ?

[2019-05-29 13:03] bravegnu commented on #90
@abhishekmishragithub We are already partnering with Townscript, for ticketing, which I ran accessibility tests on. I am not sure about the other platforms, I assume they also have similar problems. Can you check?

[2019-05-29 13:08] bravegnu commented on #90
My understanding is that almost all ticketing platforms are broken one way or the other, and fixing them up, at this point is not going to work. It is better to have a work around.

[2019-05-29 13:32] bravegnu commented on #90
Spoke to Townscript regarding this, they said they will discuss internally and get back to us, by tomorrow, on how they can improve the accessibility of their platform. But as a stopgap we might have a mail + NEFT based approach to book tickets.

[2019-05-29 16:15] bravegnu commented on #81
@astronomersiva Can you get somebody to work on this?

[2019-05-29 16:16] bravegnu opened #91 "Poster for Sponsor Announcement"
Need to create a template poster for sponsor announcement.

[2019-05-29 18:13] bravegnu opened #92 "Social Media Attendee Badge"
Create a badge for use on social media, so that people can show off their participation to other users. We will similarly need a speaker badge, as well.

[2019-05-30 02:05] bravegnu opened #93 "Vision Statement, Social Media Announcement"
![vision-statement](https://user-images.githubusercontent.com/1171852/58603037-d3265000-82ac-11e9-85ef-69eed0f7e7ad.png)

Read more about our vision for PyCon India 2019 at https://in.pycon.org/blog/2019/pycon-india-2019-vision.html

#Python #PyConIndia2019

[2019-05-30 02:06] sharmi commented on #90
Do we have an official mail id Vijay? One with @in.python.org? Since this
is regarding payment, emails from personal mail ids might not look very
trustworthy/professional.

On Wed, May 29, 2019 at 7:02 PM Vijay Kumar <notifications@github.com>
wrote:

[2019-05-30 02:09] bravegnu commented on #90
Will be setting up one to receive requests: tickets@in.pycon.org

[2019-05-30 02:17] astronomersiva commented on #81
Yup

[2019-05-30 02:23] bravegnu opened #94 "Poster for 3 Days to Go"
Poster for 3 Days to Go for Ticket Announcement.

[2019-05-30 02:46] bravegnu commented on #93
![vision-statement](https://user-images.githubusercontent.com/1171852/58604734-17b4ea00-82b3-11e9-80f4-7486d893496f.png)

Read more about our vision for PyCon India 2019 at https://in.pycon.org/blog/2019/pycon-india-2019-vision.html

#Python #PyConIndia2019

[2019-05-30 03:05] astronomersiva commented on #94
![three-days](https://user-images.githubusercontent.com/7725225/58605574-e7227f80-82b5-11e9-9013-ab38b9f187a9.png)

^Suggestions please

[2019-05-30 03:07] astronomersiva commented on #94
![three days to go](https://user-images.githubusercontent.com/7725225/58605652-205aef80-82b6-11e9-8353-b27358e27a62.png)

Suggestions please 😄

[2019-05-30 03:11] bravegnu commented on #94
The logo at the bottom left can be made a bit larger.

[2019-05-30 03:31] sharmi commented on #93
+1

[2019-05-30 03:34] astronomersiva commented on #91
![sponsor](https://user-images.githubusercontent.com/7725225/58606544-8301ba80-82b9-11e9-9db5-af3785c681b8.png)

[2019-05-30 03:36] astronomersiva commented on #94
![three-days-to-go](https://user-images.githubusercontent.com/7725225/58606674-1d61fe00-82ba-11e9-8e14-13b287db6084.png)

[2019-05-30 03:44] bravegnu commented on #91
@astronomersiva You are beast!

My only nit pick here, is the missing circle around the center dot, in the kolam graphic.

[2019-05-30 03:45] bravegnu commented on #91
Does this vertical orientation work well for LinkedIn and Facebook?

[2019-05-30 03:50] astronomersiva commented on #91
Thanks @bravegnu 😆

I just checked and the SVG has the central circle but the PNG doesn't. I will fix it and push today evening. Will change it here too.

I tested this on Facebook and they display the full image. I am not sure of LinkedIn.

[2019-05-30 03:55] abhishekmishragithub commented on #93
Is this final ? @bravegnu

[2019-05-30 04:01] abhishekmishragithub commented on #94
Can we use this in other promotional groups ?

[2019-05-30 04:04] abhishekmishragithub commented on #58
are we looking for any blogger for this ?
anyone working on this ?

[2019-05-30 04:17] bravegnu commented on #93
Waiting for +1s.

[2019-05-30 04:17] bravegnu commented on #93
@gnurenga Can you please post this?

[2019-05-30 04:18] bravegnu commented on #94
@abhishekmishragithub Once I get a green signal from the tickets team.

[2019-05-30 04:32] abhishekmishragithub commented on #94
Ok, Sir :wink:

[2019-05-30 04:33] abhishekmishragithub commented on #93
+1

[2019-05-30 04:37] sharmi commented on #58
No one is on this task right now,Abhishek

On Thu, May 30, 2019 at 9:34 AM Abhishek Mishra <notifications@github.com>
wrote:

[2019-05-31 03:37] aditiprakash commented on #94
Is this the final poster?

[2019-05-31 05:34] gnurenga commented on #91
The logo of Talent sprint is blurred.

[2019-05-31 06:18] bravegnu commented on #94
The poster is final, I will confirm with the other teams, before we post.

[2019-05-31 06:20] bravegnu commented on #91
@gnurenga That was just a place holder logo, we can get a high resolution / vector logo from our sponsors.

[2019-05-31 09:39] bravegnu commented on #94
![3days](https://user-images.githubusercontent.com/1171852/58696758-d3f6d900-83b5-11e9-89bc-d274c0e5834f.png)

Early bird tickets open on 3rd June. 3 days to go!

#Python #PyConIndia2019

[2019-05-31 12:05] abhishekmishragithub commented on #94
@bravegnu can we post this ?

[2019-05-31 12:11] bravegnu commented on #94
Yes @abhishekmishragithub !

[2019-06-01 04:08] astronomersiva commented on #81
Courtesy @agnes-joseph

![Ticket Announcement](https://user-images.githubusercontent.com/7725225/58743536-f853c380-8450-11e9-97f4-4ce6ddd29f04.png)

I'll upload the PSD in a while.

[2019-06-01 04:22] bravegnu commented on #81
@astronomersiva This sure is amazing work. One nit-pick: Can we change the Python heads to the PSF version?

[2019-06-01 04:50] bravegnu opened #95 "Medical Support at the Venue"
We will need to have medical support at the venue, to handle small to large incidents. The contacts and support available needs to be advertised to the volunteers and audience.

[2019-06-01 05:56] sharmi commented on #95
Need to ensure the medical supplies are fresh and within expiry date.

On Sat, Jun 1, 2019 at 10:20 AM Vijay Kumar <notifications@github.com>
wrote:

[2019-06-01 06:15] bravegnu opened #96 "FAQ Announcement"
![faq](https://user-images.githubusercontent.com/1171852/58744700-820c8c80-8463-11e9-8511-0e57aa0b7ac3.png)

PyCon India is 3 events rolled into one mega event. Read our FAQ page to know more about purchasing tickets to each of the events. https://in.pycon.org/2019/faq.html

#PyConIndia2019 #Python

[2019-06-01 06:27] abhishekmishragithub commented on #96
+1

[2019-06-01 10:59] DudeWhoCode opened #97 "Poster presentation copy"
Below is the first draft of poster presentation copy. Suggestions are welcome.

# Welcome to Pycon India Poster Presentation

Posters are the graphical summary of a projects or ideas. They are usually presented in a standard chart paper size, but any creative ways are always welcome.

Pycon India 2019 is will be having a poster presentation session at post lunch, day 1. The poster presentation hal

[2019-06-01 11:56] astronomersiva commented on #81
![My Post](https://user-images.githubusercontent.com/7725225/58748166-1beb2e00-8492-11e9-9969-bb9ce50a44af.png)

Took a shot at editing this since Agnes isn't available now. I have created a PR with the PSD file as well.

[2019-06-01 14:45] bravegnu commented on #81
Thanks @astronomersiva!

[2019-06-02 00:13] bravegnu commented on #97
# Posters for PyCon India 2019

Posters are graphical summary of projects or ideas. They are usually presented with an A0 size poster, but any creative ways are always welcome. The poster session provides an opportunity to network with the conference attendees and acts as a starting point for further discussions. While talks generally needs to appeal to a wide section of the community, posters can

[2019-06-02 07:00] smiraldr commented on #44
I am a student of SRM Institute of Science and Technology and i have reached out to some of the student community too for PyCon and i am giving them constant updates on PyCon. Many are interested and will buy tickets for the same.

[2019-06-02 08:49] abhishekmishragithub commented on #97
@DudeWhoCode @bravegnu  this is still in draft ?

[2019-06-02 09:51] bravegnu commented on #44
Thanks @smiraldr!

[2019-06-02 10:05] bravegnu commented on #97
@abhishekmishragithub We should be getting this up on the CFP site shortly.

[2019-06-02 10:06] #96 closed, assigned to nobody

[2019-06-02 10:06] #94 closed, assigned to nobody

[2019-06-02 10:06] #93 closed, assigned to nobody

[2019-06-02 10:07] bravegnu commented on #86
Poll results are here: https://twitter.com/pyconindia/status/1133246897890648064

[2019-06-02 10:07] #86 closed, assigned to nobody

[2019-06-02 10:09] #73 closed, assigned to nobody

[2019-06-02 10:11] bravegnu commented on #40
Schedule:

  * Monday: Core Team
  * Tuesday: Promotion
  * Wednesday: Sponsorship
  * Thursday: Diversity

[2019-06-02 10:14] bravegnu opened #100 "Poster for Whatsapp Promotion"
![whatsapp](https://user-images.githubusercontent.com/1171852/58759773-1d2d6100-854d-11e9-998e-7cba79734b1f.jpg)

[2019-06-02 10:14] bravegnu commented on #100
@rajkumartreads Do we have a text to go with the image?

[2019-06-02 10:15] bravegnu commented on #100
We could use the text: "Book your tickets for PyCon India 2019 at https://in.pycon.org/"

[2019-06-02 11:41] abhishekmishragithub commented on #100
@bravegnu we are good to go ?

[2019-06-02 11:42] abhishekmishragithub commented on #90
@bravegnu so did we finalize method for ticket? Ticket platform is now accessible ?

[2019-06-02 12:35] DudeWhoCode commented on #97
@abhishekmishragithub For now Vijay's update is finalized. But you can still give suggestions.

[2019-06-02 12:57] bravegnu commented on #90
No, we are planning for a workaround.

[2019-06-02 13:48] bravegnu commented on #57
![tshirt-size-chart](https://user-images.githubusercontent.com/1171852/58763004-858f3900-8573-11e9-9857-21b2c174b0c5.png)

  * City (Textbox)
  * Organization / Institution (Textbox)
  * T-Shirt Size, size chart link (image above) (Combobox)
     - S
     - M
     - L
     - XL
     - XXL
     - XXXL
  * Topic Preferences (Checkbox)
     - Core Python
     - Data Science, Machine Learning and AI

[2019-06-03 10:30] bravegnu commented on #81
![post](https://user-images.githubusercontent.com/1171852/58795563-9fcf2280-8618-11e9-880e-bd45701f57f4.png)

Tickets are live at https://in.pycon.org/

#Python #PyConIndia2019

[2019-06-03 10:31] abhishekmishragithub commented on #97
@DudeWhoCode keeping some examples/reference will be more helpful.

[2019-06-03 10:36] abhishekmishragithub commented on #81
+1

[2019-06-03 10:38] abhishekmishragithub commented on #81
+1

[2019-06-03 13:32] bravegnu opened #101 "Poster for Early Bird Sold Out!"

[2019-06-03 15:28] astronomersiva commented on #32
Closing this.

[2019-06-03 15:28] #32 closed, assigned to nobody

[2019-06-03 15:28] astronomersiva commented on #6
Closing this.

[2019-06-03 15:28] #6 closed, assigned to nobody

[2019-06-03 17:14] astronomersiva commented on #101
![Tickets Sold out](https://user-images.githubusercontent.com/7725225/58820776-1b4cc600-8651-11e9-9c88-5e2c331de223.png)

Courtesy: @agnes-joseph

[2019-06-03 17:23] abhishekmishragithub commented on #101
+1

[2019-06-03 19:08] hellozee commented on #92
I would love to give it a shot but do you have any sample which can help me? :)

[2019-06-03 19:14] bravegnu commented on #92
@astronomersiva Is also working on this.

@hellozee You can try searching for images with keywords "I am attending badge"

[2019-06-04 06:57] hellozee commented on #92
![pycon badge](https://user-images.githubusercontent.com/12135951/58873877-f0ac4d00-86e4-11e9-9742-c828fa065951.png)

[2019-06-04 09:36] bravegnu opened #102 "Announcement for Inclusion @ PyCon India"
![inclusive](https://user-images.githubusercontent.com/1171852/58870673-43ced180-86de-11e9-937a-19f45e6dc1b0.png)

Learn about the steps taken to make PyCon India accessible and women friendly.
https://in.pycon.org/blog/2019/2019-making-pycon-india-women-friendly.html
https://in.pycon.org/blog/2019/2019-making-pycon-india-accessible-first-step.html

#Python #PyConIndia2019

[2019-06-04 12:57] ParitoshikPaul commented on #90
@bravegnu: Have a look at instamojo https://www.instamojo.com/
I have tried this for one of my events, Its light weight / Do not require any signup and provides a link to specific tickets.
I have seen townscript but it takes you to a page of tickets which might be a duplicate step of what we have on our website.
Please check and let me know, Also there is no integration required its just a link to

[2019-06-04 12:59] bravegnu commented on #90
Thanks @ParitoshikPaul for the inputs. I don't think we would want to switch the ticketing platform at this point in time though.

[2019-06-04 13:03] ParitoshikPaul commented on #64
@sharmi: Can we use google forms, if yes what account needs to be linked to get the responses ?

[2019-06-04 13:08] bravegnu opened #103 "Poster CFP Announcement"

[2019-06-04 13:09] bravegnu commented on #103
We need to announce CFP for posters. The CFP URL is https://in.pycon.org/cfp/posters-2019/proposals/

[2019-06-04 13:48] ParitoshikPaul commented on #90
Yeah its high time as the tickets are out, we can keep it as a future reference.

[2019-06-04 13:53] #101 closed, assigned to nobody

[2019-06-04 14:20] astronomersiva commented on #92
@hellozee, thanks for this.

Facebook has a [badge creator](https://developers.facebook.com/products/frame-studio/). We need to ensure that the badge suits both square and round pictures.

[2019-06-04 14:28] bravegnu commented on #92
@astronomersiva I am looking for something along the lines of http://2016.placonference.org/web-badges/

[2019-06-04 14:32] astronomersiva commented on #92
@bravegnu, to be frank, I don't think many people will have this as their entire profile picture/cover picture.

Facebook's style is simple and easy to spread. We can probably have both but not doing the usual FB badge won't be a good choice.

[2019-06-04 16:44] laxmena commented on #100
Facebook videos or Instagram can now be played as Picture in Picture mode. So we could make a short video clippings of 15 to 30 seconds each that can be shared as Whatsapp Status. And about 45 second videos to be shared as Whatsapp messages, which can be played in Picture in Picture mode.

[2019-06-04 16:47] laxmena commented on #92
@bravegnu , The Images in the link, don't they all look similar? Differentiating the tags for attendees, presenters and everyone could be handy. This is my suggestion, what's your take on this?

[2019-06-04 16:52] laxmena commented on #64
It is possible to transfer the ownership of Google Forms i guess.

[2019-06-04 16:57] laxmena commented on #64
Also consider typeform and surveymonkey. Need to evaluate if free tier is sufficient for our needs.

[2019-06-04 17:00] laxmena commented on #56
The questions to be asked in the feedback from must be evaluated, to precisely capture the experience of the attendees.

[2019-06-04 17:05] bravegnu commented on #64
We have already created this form: https://forms.gle/zCuNk3pAHXPjrURq9

We now have to reach out to organizers for various meetup groups, to recommend speakers who have done talks at their meetups.

[2019-06-04 17:06] bravegnu commented on #64
Especially people from diverse backgrounds.

[2019-06-05 05:38] hellozee commented on #92
@bravegnu @astronomersiva we can have both, I guess, but I am not sure about that facebook badge thing, I don't have a facebook account so no idea how that works.

[2019-06-05 06:34] agnes-joseph commented on #103
@bravegnu Ill take care this

[2019-06-05 06:35] agnes-joseph commented on #80
@abhishekmishragithub Can I get further details on this?

[2019-06-05 08:43] bravegnu commented on #103
Thanks @agnes-joseph We are planning to make the announcement tomorrow.

[2019-06-05 19:26] agnes-joseph commented on #103
![CPF](https://user-images.githubusercontent.com/10452872/58983990-9cdd5900-87f5-11e9-9384-582a3a623198.png)

Can you see if this proper?

[2019-06-06 00:41] bravegnu commented on #103
* The logo at the top can be a little larger. (Just make sure the "Chennai" is readable.)
   * CPF FOR POSTERS -> POSTER CFP IS OPEN!
   * Text at the bottom: Present your project and ideas, trigger discussions, and get connected with like minded folks, by presenting a poster. Learn more about posters on the Poster CFP page.

[2019-06-06 04:06] agnes-joseph commented on #103
Noted. Will upload the changes now.

On Thu, Jun 6, 2019, 6:11 AM Vijay Kumar <notifications@github.com> wrote:

[2019-06-06 04:14] agnes-joseph commented on #103
![CPF](https://user-images.githubusercontent.com/10452872/59006429-82c86880-883f-11e9-8db5-2066574dabf4.png)

[2019-06-06 04:35] bravegnu commented on #103
<img src="https://user-images.githubusercontent.com/10452872/59006429-82c86880-883f-11e9-8db5-2066574dabf4.png"/>

Present your project and ideas, trigger discussions, and get connected with like minded folks, by presenting a poster. Learn more about posters on the Poster CFP page: https://in.pycon.org/cfp/posters-2019/proposals/

#Python #PyConIndia2019

[2019-06-06 04:49] abhishekmishragithub commented on #103
+1

[2019-06-06 05:20] abhishekmishragithub commented on #80
@agnes-joseph it could be something like this, where in one flyer we can all PyCon Detail.

![poster_whatsapp](https://user-images.githubusercontent.com/38150419/59008829-1bafb180-8849-11e9-95e8-669ec7dbae3d.jpg)

[2019-06-06 05:27] abhishekmishragithub commented on #102
+1

[2019-06-06 05:44] amrrs commented on #58
Hey @sharmi , Do you have any such sample work from any other Pycon, With some sample, I can probably pick it up to make a draft!

[2019-06-06 06:17] bravegnu commented on #80
More examples:

<img src="https://p-u.popcdn.net/attachments/images/000/009/927/large/new_poster_pycon_thailand1111.png?1528283671"/>

<img src="https://lh5.googleusercontent.com/vyjJAil3hoGxsqPc7BE5sWQGf1enSZ_xRjKfRzoiGVu4UzxtAXITVarN-kMotsxkFB68DGdB5jdrh1ffwOM-SAQyFEEfqzhEucPnhCYp788vwpjEL1C8jlVpaE3v7nz6JABRvogz"/>

[2019-06-06 06:41] abhishekmishragithub commented on #80
@bravegnu you got it better 👍

[2019-06-06 08:27] bravegnu commented on #58
@amrrs How about this https://realpython.com/pycon-guide/ ? It needs to be customized to PyCon India.

[2019-06-06 10:38] bravegnu commented on #103
Subject: Call for Posters for PyCon India 2019

Hi Everyone,
The CFP for posters, for PyCon India 2019, is open!

Posters are graphical summary of projects or ideas. They are usually presented with an A0 size poster, but any creative ways are always welcome. The poster session provides an opportunity to network with the conference attendees and acts as a starting point for further discussions. Whi

[2019-06-07 06:15] nishadhka opened #104 "For low environmental impact conference"
Related to the discussion on environment friendly conference, this document details about Green Protocols which are practised in Kerala http://sanitation.kerala.gov.in/wp-content/uploads/2018/04/Green-Protocol-DOCUMENT.pdf

[2019-06-08 05:27] gnurenga opened #105 "Designing a poster for How to nail poster presentation"
Reference:
https://healthpsychtam.com/2017/12/14/how-to-nail-an-academic-poster-presentation/

[2019-06-08 16:13] bravegnu commented on #105
The most important question to answer today, is "Why present a poster?" rather than "How to present a poster?".

[2019-06-09 17:48] agnes-joseph commented on #80
Thanks for the example @abhishekmishragithub and @bravegnu . By when would you need this? Also, can I get the required dimensions?

[2019-06-10 03:33] bravegnu opened #106 "Add Tentative Schedule"
## Day 1

  * Hall A Tentative Schedule
    - 08:00 AM - 09:15 AM: Registration
    - 09:15 AM - 09:30 AM: Opening Address
    - 09:30 AM - 10:30 AM: Keynote 1
    - 10:30 AM - 11:00 AM: Tea Break
    - 11:00 AM - 11:30 AM: Talk Slot 1
    - 11:35 AM - 12:05 PM: Talk Slot 2
    - 12:10 PM - 12:40 PM: Talk Slot 3
    - 12:40 PM - 02:00 PM: Lunch Break
    - 02:00 PM - 03:00 PM: -
    - 03:05 PM - 0

[2019-06-10 03:34] bravegnu commented on #106
@astronomersiva We will need to add this to the website. It will help people plan for the travel and stay.

[2019-06-10 04:25] abhishekmishragithub commented on #105
@bravegnu  Have look here https://people.clas.ufl.edu/oppenhe/2014/06/09/7-reasons-why-you-should-present-posters-at-a-conference/
Above portal has nice reason on "Why to present a poster ?"

[2019-06-10 09:19] abhishekmishragithub commented on #105
How we proceed now ?

How we proceed now? @bravegnu @gnurenga

[2019-06-10 09:20] bravegnu commented on #105
We have to customize it for PyCon India, and post it to our blog and our attendees.

[2019-06-11 02:35] bravegnu opened #107 "Three Reasons You Should Speak at PyCon"
![why-speak-at-pycon](https://user-images.githubusercontent.com/1171852/59239593-a3b60280-8c1f-11e9-9c23-4fdadd7afee4.png)

Tech Talks Are Campfires: Jesse's Three Reasons You Should Speak At PyCon by @jessejiryudavis. Read the article at https://emptysqua.re/blog/tech-talks-are-campfires-jesses-three-reasons-you-should-speak-at-pycon/ Submit your proposal at https://in.pycon.org/2019/submit-a-pro

[2019-06-11 06:07] abhishekmishragithub commented on #107
+1

[2019-06-12 03:20] bravegnu opened #108 "800 Tickets Sold"
![800-tickets](https://user-images.githubusercontent.com/1171852/59321207-cf53ee00-8cee-11e9-8186-8a0f3b317344.png)

Tickets for PyCon India are selling fast. We have sold 800 / 1200 tickets! Have your purchased your tickets yet? Purchase your tickets at https://in.pycon.org/

#Python #PyConIndia2019

[2019-06-12 04:30] bravegnu commented on #80
@agnes-joseph A4 should work.

[2019-06-12 09:00] gnurenga opened #109 "Reaching out to meetup group speakers to submit talk proposal"
- [ ] ChennaiPy
- [ ] BangPyPers
- [ ] HydPy

[2019-06-12 09:10] gnurenga commented on #109
Hi {{ speaker name}}

I am  {{your name}}, a volunteer for PyCon India 2019. We are reaching out to Python meetup group
speakers for submitting  talk proposal. We got your information from {{meetup group name}}

PyCon India is India's premier conference on using and developing the Python programming language. This year, the conference is happening in Chennai, on October 12 - 15, 2019. About 1200 P

[2019-06-13 03:48] bravegnu opened #110 "Poster for Talk and Workshop CFP closes in 15 days"
We need to create a social media poster for this. Text along the lines of
[code]

[2019-06-13 03:48] bravegnu commented on #110
We will need this on 17th June.

[2019-06-13 04:40] abhishekmishragithub commented on #109
+1

[2019-06-13 04:47] bravegnu commented on #109
Hi {{ speaker name}}
I am {{your name}}, a volunteer for PyCon India 2019. We understand that you have been doing talks at {{meetup group name}}. It will be great if you can share your work / ideas / experiences at PyCon India 2019 http://in.pycon.org/ which is happening in Chennai, on Oct 12th - 15th.

You can submit your talk / workshop / poster proposal at https://in.pycon.org/2019/submit-a-pro

[2019-06-13 04:52] gnurenga commented on #109
Looks simple, I will use this

[2019-06-13 07:37] bravegnu opened #111 "Volunteering for PyCon India"
Here's the text for the tweet:

If you are interested in volunteering for PyCon India 2019, please read our volunteering guidelines at https://in.pycon.org/blog/2019/volunteering-for-pycon-india-2019.html

#Python #PyConIndia2019

[2019-06-13 09:15] #108 closed, assigned to nobody

[2019-06-13 09:15] #107 closed, assigned to nobody

[2019-06-13 09:15] #103 closed, assigned to nobody

[2019-06-13 09:15] #102 closed, assigned to nobody

[2019-06-13 09:15] #97 closed, assigned to DudeWhoCode

[2019-06-13 09:16] #89 closed, assigned to nobody

[2019-06-13 09:16] #85 closed, assigned to nobody

[2019-06-13 09:16] #82 closed, assigned to nobody

[2019-06-13 09:17] #57 closed, assigned to nobody

[2019-06-13 09:18] #43 closed, assigned to zerothabhishek

[2019-06-13 09:18] #35 closed, assigned to nobody

[2019-06-13 09:18] #29 closed, assigned to nobody

[2019-06-13 09:18] #81 closed, assigned to nobody

[2019-06-13 09:19] #8 closed, assigned to nobody

[2019-06-13 09:20] #7 closed, assigned to nobody

[2019-06-13 14:27] bravegnu commented on #104
@nishadhka Thanks for this, will get back to you shortly.

[2019-06-13 15:35] abhishekmishragithub commented on #105
@bravegnu , @gnurenga  Please give feedback :

Why should you go to all the trouble to present a poster at PyCon India? there are many good reasons to do so.

1. Posters offer the opportunity to engage with PyCon attendees interested in the same subject
and application as yourself.
You might strike up a conversation with someone about your poster that may lead to future collaboration or even a job

[2019-06-14 02:36] bravegnu opened #112 "PyLadies at PyCon India - Aroma Rodrigues"
![pyladies-at-pycon](https://user-images.githubusercontent.com/1171852/59479549-17a01700-8e7b-11e9-829f-85a36a89ef7c.png)

PyLadies at PyCon India: Aroma Rodrigues @lifenotsochill shares her experiences of speaking at PyCon India 2018. Read the article at https://in.pycon.org/blog/2019/2019-pyladies-at-pycon-india-aroma-rodrigues.html

#PyConIndia2019 #WomenInTech

[2019-06-14 02:55] bravegnu commented on #112
While posting to LinkedIn drop the twitter handle, and instead tag her LinkedIn profile: https://www.linkedin.com/in/aromarodrigues/

[2019-06-14 03:28] bravegnu commented on #80
@agnes-joseph @astronomersiva Just wanted to check on this.

[2019-06-14 08:57] gnurenga commented on #105
@abhishekmishragithub  looks good to me

[2019-06-14 16:05] agnes-joseph commented on #110
Will be working on this

[2019-06-14 16:14] agnes-joseph commented on #80
Will try to work on this in the weekend, by when do you need it? @bravegnu

[2019-06-15 04:04] #112 closed, assigned to nobody

[2019-06-15 04:04] #111 closed, assigned to nobody

[2019-06-15 04:05] bravegnu commented on #110
@agnes-joseph Can we have a preview on 16th June? So that we have time for any changes.

[2019-06-15 10:35] agnes-joseph commented on #110
![Time Up](https://user-images.githubusercontent.com/10452872/59550344-355aa280-8f87-11e9-8373-b599fcc0325a.png)

[2019-06-15 11:00] bravegnu commented on #80
Monday should work. Next time around *you* can let us know when it can be done. We can work it from there.

[2019-06-15 19:16] agnes-joseph commented on #80
Sure @bravegnu Will keep that in mind :)

[2019-06-15 19:17] agnes-joseph commented on #80
![PyCon Poster](https://user-images.githubusercontent.com/10452872/59555463-39f77900-8fd0-11e9-9b7b-34d917acd86e.jpg)

Came up with this as a rough draft, should anything else be added? Also, which file format should I send it as?

[2019-06-16 02:39] bravegnu commented on #80
The file format: PDF and PNG

The content looks sufficient. Here are few changes that needs to be made, in terms of the design.

  1. For the top background, we can drop the outline from the logo and use a different shape. The idea is to avoid playing around with the logo too much.

  2. The bottom background outline can be retained as such, but please use the outline from the latest version of th

[2019-06-16 02:46] bravegnu commented on #80
Or if we would like to keep the symmetry between the top and bottom outline, the elements within the top outline can be dropped.

But the outlines are themselves actually a good idea, because if the poster is affixed on a noticeboard it will attract attention.

[2019-06-16 09:54] gnurenga opened #113 "CFP Closes in 15 days"
Call for talk and workshop proposals closes in 15 days! Don't wait till the last moment to submit your proposal! Submit proposals at https://in.pycon.org/2019/submit-a-proposal.html

#Python #PyConIndia2019
![15days-cfp](https://user-images.githubusercontent.com/3196294/59562495-250bfb80-904b-11e9-8149-307308b35cb5.png)

[2019-06-16 09:54] bravegnu opened #114 "Reaching Venue Guide"
We would like to have an article written on reaching Chennai and reaching the venues within Chennai. This is to act as a guide to people who are traveling from far off places. The first part of the article should focus on connectivity options for reaching Chennai by Train / Bus and Air. And the second part should focus on reaching the two venues from prominent points, like Tambaram, Central Statio

[2019-06-16 09:59] bravegnu commented on #113
Use the link https://in.pycon.org/2019/submit-a-proposal.html instead.

[2019-06-16 10:02] gnurenga commented on #113
updated now in the main description

[2019-06-16 12:18] bravegnu commented on #114
For examples:

https://pycascades-welcome-wagon-2019.readthedocs.io/en/latest/travel_guide.html
https://cz.pycon.org/2016/about/brno/#accommodation-tips

[2019-06-16 14:22] agnes-joseph commented on #80
@bravegnu Thanks for the feedback. Will make the suggested changes and upload.
Completely forgot about the logo! I'll replace it

[2019-06-17 02:31] agnes-joseph commented on #80
![PyCon Poster 2](https://user-images.githubusercontent.com/10452872/59574670-ccce0b80-90d5-11e9-953d-cac9c2dc7e7a.jpg)
Made the suggested changes and cleaned up the layout. Again, this is a rough draft, do let me know if it's fine. I'll make some small changes and push the PDF version

[2019-06-17 03:32] bravegnu commented on #113
Email Announcement:

Subject: PyCon India CFP Closes in 15 Days

Hi {name},
{add-your-context-here}

PyCon India call for talk and workshop proposals is closing in 15 days. Please submit your proposal at the earliest at https://in.pycon.org/2019/submit-a-proposal.html

PyCon India is India's premier conference on using and developing the Python programming language. This year, the conference is ha

[2019-06-17 17:24] bravegnu commented on #106
<div class="sect1">
<h2 id="_day_1">Day 1</h2>
<div class="sectionbody">
<div class="tableblock">
<table rules="all"
width="100%"
frame="border"
cellspacing="0" cellpadding="4">
<col width="20%" />
<col width="20%" />
<col width="20%" />
<col width="20%" />
<col width="20%" />
<tbody>
<tr>
<td align="center" valign="top"><p class="table"></p></td>
<td align="center" valign="top"><p class="table"><

[2019-06-17 17:25] bravegnu commented on #106
@astronomersiva Here is the abridged version of the schedule.

[2019-06-18 17:02] bravegnu commented on #80
Looks good @agnes-joseph Can we also have Grayscale variant (preferrably with a white background, instead of the shaded background), suitable for printing on standard laser printer.

[2019-06-19 04:00] #2 closed, assigned to gnurenga

[2019-06-19 04:00] #3 closed, assigned to gnurenga

[2019-06-19 04:00] #25 closed, assigned to nobody

[2019-06-19 04:00] #61 closed, assigned to gnurenga

[2019-06-19 04:03] bravegnu opened #115 "Low Cost Stay Option for Women"
Check for the possibility of using Chellammal Women's College hostel as a low cost stay option.

[2019-06-21 03:48] bravegnu opened #116 "Book your train tickets"
The tentative schedule for the conference is now available, on the website https://in.pycon.org/2019/ Please use it to plan your travel and stay.

Train tickets for the conference dates is open. Book now, and avoid last minute hassles.

#PyConIndia2019

[2019-06-21 04:16] bravegnu opened #117 "CFP Closes in 10 Days"
![cfp-10-days](https://user-images.githubusercontent.com/1171852/59897079-a88d6a00-9408-11e9-932e-0f6c2d0fed6d.png)

Present your talk at local meetups. Look for audience reactions and get feedback. This helps you assess audience interest in the content and the reachability to a wide audience. Use the feedback to refine the structure and content of your talk.

#PyConIndia2019

[2019-06-22 13:46] agnes-joseph commented on #80
[Pycon 2019.zip](https://github.com/pythonindia/inpycon2019-tasks/files/3316881/Pycon.2019.zip)
Included RGB CYMK and Greyscale variant

[2019-06-23 15:43] bravegnu commented on #80
Thanks @agnes-joseph One final change request, can we move the background icons to the left hand side? Atleast in the grayscale version it makes some of the text hard to read.

[2019-06-23 17:25] bravegnu opened #118 "Late Bird Tickets are Open!"
![late-bird-tickets](https://user-images.githubusercontent.com/1171852/59979779-b52ce080-9609-11e9-8f99-9676d0c2e99b.png)

Late Bird Tickets are open, Regular Tickets are sold out! Don't miss your chance to attend PyCon India 2019, purchase your tickets at https://in.pycon.org/2019/#tickets

#Python #PyConIndia2019

[2019-06-25 03:55] bravegnu opened #119 "CFP Closes in 7 Days"
![cfp-7-days](https://user-images.githubusercontent.com/1171852/60071779-f243c080-9738-11e9-99db-7e53be4f2cfb.png)

Talk and Workshop CFP closes in 7 days! Hurry up, submit your proposal at https://in.pycon.org/2019/submit-a-proposal.html

#Python #PyConIndia2019

A reply to the above post:

Tip #2: Make it fun! Look for creative ways to make the content entertaining. This requires a deeper unders

[2019-06-25 04:10] bravegnu commented on #119
Subject: Reminder: PyCon India CFP Closes in 7 Days

Hi {name},
PyCon India CFP for talks and workshops is closing in 7 days! Hurry up, and submit your proposal at https://in.pycon.org/2019/submit-a-proposal.html

For more details about PyCon India, please visit: https://in.pycon.org/

Regards,
{your-name}

[2019-06-25 04:13] bravegnu commented on #119
Subject: PyCon India CFP Closes in 7 Days

Hi {name},
{add-your-context-here}

PyCon India call for talk and workshop proposals is closing in 7 days. Link to submit proposals: https://in.pycon.org/2019/submit-a-proposal.html

PyCon India is India's premier conference on using and developing the Python programming language. This year, the conference is happening in Chennai, on October 12 - 15, 2019

[2019-06-26 01:54] agnes-joseph commented on #80
[PyCon Poster 2.zip](https://github.com/pythonindia/inpycon2019-tasks/files/3327850/PyCon.Poster.2.zip)
Here you go!

[2019-06-26 04:43] bravegnu commented on #80
A few more fixes before we can finalize:
  * Speakers -> "Keynote Speakers" or just "Keynote"
  * David Beazley's description has been truncated half-way through.

[2019-06-26 04:51] bravegnu opened #120 "CoC Violation Reporting"
Need an email alias report@in.pycon.org and mobile no. for reporting CoC violations.

[2019-06-26 05:30] agnes-joseph commented on #80
Sure. Will make the changes by tonight

[2019-06-26 16:45] agnes-joseph commented on #80
[Python Poster.zip](https://github.com/pythonindia/inpycon2019-tasks/files/3331081/Python.Poster.zip)

[2019-06-26 17:24] agnes-joseph commented on #80
[Poster for Pycon.zip](https://github.com/pythonindia/inpycon2019-tasks/files/3331246/Poster.for.Pycon.zip)

[2019-06-27 06:44] #116 closed, assigned to nobody

[2019-06-27 18:11] ganeshkumartk commented on #44
Hey Guys, I can promote PyCon for IIIT Kancheepuram. Will reach out to student communities for same 👍

[2019-06-27 18:14] bravegnu commented on #44
Thanks @CoDeRgAnEsh !

[2019-06-27 19:05] bravegnu opened #121 "CFP Closes in 3 Days"
![cfp-3-days](https://user-images.githubusercontent.com/1171852/60293133-3521b600-993c-11e9-9ac2-8f5641526f94.png)

CFP closes in 3 days! Let's put the weekend to good use. Shape up your proposal and submit it at https://in.pycon.org/2019/submit-a-proposal.html

#Python #PyConindia2019

As a reply to the first post:

Tip #3: Problems make solutions interesting!

One way to present a tool / framewo

[2019-06-27 19:07] bravegnu commented on #120
The alias has been created. @sharmi can you work on getting a mobile no. for this purpose?

[2019-06-28 04:08] bravegnu commented on #121
Do not send out announcements to groups for which we have already sent the announcement 7 days to go.

[2019-06-28 04:10] bravegnu commented on #121
Hi {name},
Call for proposals for talk / workshops for PyCon India closes in 3 days! Submit your proposal at the earliest. Submission link: https://in.pycon.org/2019/submit-a-proposal.html

For more details about the event, please visit https://in.pycon.org/

Regards,
{your-name}

[2019-06-29 17:11] bravegnu opened #122 "CFP 1 Day to Go."
![cfp-1-day](https://user-images.githubusercontent.com/1171852/60387329-f36d4880-9abe-11e9-98a1-7b509dac2d50.png)

The clock is ticking, only 1 more day left to submit your talk / workshop proposal!

#Python #PyConIndia2019

###################### SPLIT TWEET HERE ######################

Tip #4: Spice up the Tutorial!

If you would like to do a tutorial style talk on a tool / library / framework,

[2019-06-29 17:18] astronomersiva commented on #122
..... available in the docs.

[2019-06-29 17:18] bravegnu commented on #122
@astronomersiva  I would have to drop the "easily" then.

[2019-06-30 18:31] bravegnu opened #123 "CFP Closes Today"
![cfp-0-days](https://user-images.githubusercontent.com/1171852/60400539-e15cda00-9b92-11e9-81a9-8002656938cd.png)

CFP for talks / workshops closes today at 11:59:59 PM IST!  Submission link: https://in.pycon.org/2019/submit-a-proposal.html

#Python #PyConIndia2019

### SPLIT HERE ###

Tip #5: Your topic should appeal to a wide audience

Talks should appeal to atleast one-third of the audience. P

[2019-07-01 04:35] bravegnu commented on #123
Subject: PyCon India CFP for Talks / Workshops Closes Today!

Hi {name},
CFP for talks / workshops closes today (1st July) at 11:59:59 PM IST! Please
visit https://in.pycon.org/2019/submit-a-proposal.html to submit
your proposal.

Regards,
{your-name}

[2019-07-02 04:01] bravegnu opened #124 "CFP for Talks / Workshops Closed"
Thank you all for the 350+ talk / workshop submissions! In case you had missed this, you can still engage with the conference attendees, through a poster. For more details and to submit a poster proposal, visit https://in.pycon.org/cfp/posters-2019/proposals/

#Python #PyConIndia2019

[2019-07-02 17:07] abhishekmishragithub commented on #92
https://in.pycon.org/2010/publicity/

Here is what we had for one of the PyCon India.

[2019-07-04 04:41] bravegnu opened #125 "Conference Tickets Sold Out"
Conference tickets are sold out! Please stay tuned for workshop and devsprint tickets.

#Python #PyConIndia2019

[2019-07-05 03:44] #117 closed, assigned to nobody

[2019-07-05 03:44] #118 closed, assigned to nobody

[2019-07-05 03:44] #119 closed, assigned to nobody

[2019-07-05 03:44] #121 closed, assigned to nobody

[2019-07-05 03:44] #122 closed, assigned to nobody

[2019-07-05 03:44] #123 closed, assigned to nobody

[2019-07-05 03:44] #124 closed, assigned to nobody

[2019-07-05 03:44] #113 closed, assigned to gnurenga

[2019-07-05 03:45] #109 closed, assigned to sharmi, gnurenga, abhishekmishragithub

[2019-07-05 03:45] #110 closed, assigned to nobody

[2019-07-05 03:47] bravegnu opened #126 "Open CFP for Devsprints"
We will have to open CFP for devsprints, so that we can open the Devsprint tickets after the workshop tickets.

[2019-07-05 04:00] bravegnu commented on #125
![sold-out](https://user-images.githubusercontent.com/1171852/60697350-72bbab80-9f07-11e9-8132-f12a6e5dde1f.png)

Conference tickets are sold out! Please stay tuned for workshop and devsprint tickets.

#Python #PyConIndia2019

[2019-07-07 07:04] bravegnu opened #127 "Poster Presentation Promotion"
![poster_guide](https://user-images.githubusercontent.com/1171852/60765172-acc9b080-a0b3-11e9-80a9-6ba48946a41a.png)

[2019-07-08 04:49] bravegnu commented on #127
@rajkumartreads Please find my comments below:

  * The logo outlines in the background needs to be changed, they are the older versions, which were not approved by PSF. We are supposed to use the standard Python logo outline.

  * "Making an awesome poster presentation proposal" can be changed to "Making an awesome poster presentation".

  * "The Concept" could be rephrased as "The Topic"
  * "Ge

[2019-07-08 16:02] bravegnu opened #128 "T-Shirt Design from Webchirpy"

[2019-07-09 15:40] bravegnu commented on #120
@sharmi Just wanted to remind you about purchasing a SIM for this purpose.

[2019-07-09 15:43] bravegnu opened #129 "ZulipChat Setup"
Create a new subdomain for PyCon India: pyconindia.zulipchat.com

We need the following features
  * Support for multiple years
  * Support to restrict participants to a particular year.
  * You need to workout how to add participants from the ticketing platform into Zulip.

[2019-07-10 03:58] bravegnu commented on #26
@babuenir Can you please get a few samples from the vendor?

[2019-07-10 10:46] abhishekmishragithub commented on #105
@bravegnu have look to points now, and let me know how to proceed.

Why should you go to all the trouble to present a poster at PyCon India? there are many good reasons to do so.

1. Posters offer the opportunity to engage with PyCon attendees interested in the same subject
and application as yourself.
You might strike up a conversation with someone about your poster that may lead to future collab

[2019-07-11 14:32] rajkumartreads commented on #127
@bravegnu Kindly find the draft 2.

![poster_guide_2](https://user-images.githubusercontent.com/4427534/61059361-8179f500-a416-11e9-9d06-c3b7ee7a1b2d.jpg)

[2019-07-11 23:54] bravegnu commented on #127
Looks good @rajkumartreads! A few suggestions:

  * Use a sans serif font.
  * The title "Making an awesome poster presentation", needs to be made larger / prominent.

[2019-07-12 03:04] bravegnu commented on #128
@babuenir Can you please share the vendoe contact details with Webchirpy?

[2019-07-12 03:05] bravegnu commented on #126
@zerothabhishek Can we discuss this?

[2019-07-12 03:06] bravegnu commented on #120
@sharmi Can you please update the mobile no. here?

[2019-07-12 03:08] #71 closed, assigned to nobody

[2019-07-12 03:08] #76 closed, assigned to nobody

[2019-07-12 03:08] #78 closed, assigned to nobody

[2019-07-12 03:08] #90 closed, assigned to nobody

[2019-07-12 03:08] #106 closed, assigned to nobody

[2019-07-12 03:08] #125 closed, assigned to nobody

[2019-07-12 03:13] bravegnu commented on #105
Looks much better now.

[2019-07-12 03:50] rajkumartreads commented on #127
@bravegnu the draft 3.

![poster_guide_3](https://user-images.githubusercontent.com/4427534/61100939-a194cd00-a485-11e9-8414-20deb306b8b5.jpg)

[2019-07-12 04:30] bravegnu commented on #105
Here are few good reasons to present a poster at PyCon India:

1. Posters offer the opportunity to engage with attendees interested in the same subject and application as yourself. You might strike up a conversation with someone about your poster that may lead to future collaborations or even a job offer!

2. If you are new to conferences, or if you are intimidated about doing a talk in front of h

[2019-07-12 05:19] rajkumartreads commented on #105
I made a draft poster for the said content. Added titles to the points. I see there is scope to improve the content. Feedback pls.

![why_poster](https://user-images.githubusercontent.com/4427534/61104032-5634eb80-a492-11e9-80fb-8a953b4d45d1.png)

[2019-07-12 05:29] bravegnu commented on #105
I would prefer, a different set of sub-topics, than the ones mentioned above.

  1. Engage with Attendees
  2. Test the Waters
  3. No Parallel Sessions
  4. Specialized Topics
  5. Get Feedback

[2019-07-12 05:35] rajkumartreads commented on #105
Draft 2

![why_poster_2](https://user-images.githubusercontent.com/4427534/61104639-bdec3600-a494-11e9-9468-c9bc26e0819e.png)

[2019-07-17 05:03] rajkumartreads commented on #105
Draft 3. Updated last date.

![why_poster_3](https://user-images.githubusercontent.com/4427534/61348429-40526c80-a87e-11e9-9a47-2a577284e603.jpg)

[2019-07-17 05:07] rajkumartreads commented on #127
Draft 4. Updated last date.

![poster_guide_4](https://user-images.githubusercontent.com/4427534/61348571-ca9ad080-a87e-11e9-8338-e86c20659028.jpg)

[2019-07-18 07:18] gnurenga opened #130 "Ticket section is missing After clicking Buy Tickets in mobile browser view"
### Steps to reproduce the issue

* Open PyCon India Website using chrome mobile browser on Android device or Open in Desktop browser resized to mobile view
* Click Buy Tickets Button

### Actual Result

* After clicking buy tickets,  page scroll down to ticket section
* But there is no content visible on ticket section except some text

### Expected Result

* Ticket sold out page should be visibl

[2019-07-18 07:23] gnurenga commented on #130
Closing this issue, since i have created the same in website repo https://github.com/pythonindia/inpycon2019/issues/123

[2019-07-18 07:23] #130 closed, assigned to nobody

[2019-07-20 04:52] bravegnu commented on #126
@zerothabhishek Can you please update the Devsprint CFP with the following text?

PyCon India is a place for developers from across the country (and beyond) to get together and celebrate Python. But what good is a PyCon without getting your hands dirty writing some code? Hence, for all Open Source enthusiasts out there, the PyCon India team is happy to announce Devsprints @ PyCon India 2019.

Duri

[2019-07-22 03:37] bravegnu commented on #26
@babuenir Just wanted to remind you about this. Can we get a few samples, in different thickness and print styles.

[2019-07-22 03:38] bravegnu commented on #128
Need to check if the logo would look good on the T-Shirt. @astronomersiva Can you take this up?

[2019-07-23 02:58] bravegnu opened #131 "Present a Poster"
Subject: Present a Poster at PyCon India

Hi {Name}
{Add-Your-Context-Here}

As announced earlier, the posters are yet another way of participating in PyCon India 2019, which is happening on Oct 12-15, at Chennai. There are two different poster types, you can present at PyCon India.

  1. Technical Posters - for presenting projects and insights on various topics
  2. Community Posters - for user g

[2019-07-23 03:44] bravegnu commented on #131
How about presenting a poster at PyCon India? Here are a few good reasons to do so. Submit your proposal at https://in.pycon.org/cfp/posters-2019/proposals/

#Python #PyConIndia2019

![why-poster](https://user-images.githubusercontent.com/1171852/61681154-f2c87a80-ad29-11e9-806c-624a1f67a72e.jpg)

[2019-07-24 03:38] bravegnu opened #132 "Devsprint CFP is Open!"
CFP for devsprints is open! Submit your proposal at https://in.pycon.org/cfp/devsprint-2019/proposals/

#Python #PyConIndia2019

![devsprint-cfp](https://user-images.githubusercontent.com/1171852/61763307-94b39a00-adf2-11e9-8341-0602621edd24.png)

[2019-07-24 07:45] zerothabhishek commented on #126
Done

[2019-07-25 02:26] stylesen opened #133 "Announce sponsors"
Announce our sponsors by linking the logo to website, publishing write-up about the sponsor, etc. The information about each sponsor will be shared via dropbox to the web team.

[2019-07-25 03:15] bravegnu commented on #133
We will also need a post for social media.

[2019-07-25 03:31] bravegnu commented on #131
@gnurenga @rajkumartreads @abhishekmishragithub Just wanted to remind you about this. Please post to your contacts and update the sponsorship spreadsheet.

[2019-07-26 03:47] bravegnu opened #134 "Add keynote speaker Jake Vanderplas"
We need to do the following for the next keynote speaker:

  1. Add a photo and title to front page
  2. Create a blog post
  3. Create social media post for Jake Vanderplas

Title: Astronomer by Training; Author of Python Data Science Handbook; Developer at Google.

Photo: http://vanderplas.com/photos.html

Speaker Bio:

Jake VanderPlas is a long-time user and contributor to the Python data scien

[2019-07-27 00:21] bravegnu commented on #134
@astronomersiva Can you take this up?

[2019-07-27 01:04] astronomersiva commented on #134
Sure

[2019-07-28 15:26] bravegnu commented on #134
<hr/>

![keynote-speaker](https://user-images.githubusercontent.com/1171852/62009137-6844a880-b179-11e9-8d13-83e792e9926a.png)

We are happy to announce that Jake VanderPlas @jakevdp is a keynote speaker for PyCon India 2019! https://in.pycon.org/blog/2019/announcing-keynote-speaker-for-pycon-india-2019-jakevdp.html

#Python #PyConIndia2019
<hr/>
Notes: Please ensure that the URL is working before

[2019-07-29 03:32] bravegnu opened #135 "OYO Hotels Near the Venues"
Identify OYO hotels near the venue and create a blog post.

[2019-07-29 03:36] bravegnu commented on #135
@gnurenga Can you please look into this?

[2019-07-29 05:17] gnurenga commented on #135
@bravegnu  Created a wiki page added 16 hotels so far, I will keep adding as I find. I am adding hotels which are less than 5Km from venue.

[2019-07-29 09:08] abhishekmishragithub commented on #131
@bravegnu can you put that community poster presentation content here ?

[2019-07-29 09:15] bravegnu commented on #131
@abhishekmishragithub Not sure what else you are looking for.

[2019-07-29 09:20] abhishekmishragithub commented on #131
Please ignore.

[2019-07-30 14:16] bravegnu opened #136 "Workshop Tickets Delay"
The workshop CFP evaluation has taken little more time than expected, and hence the Workshop & Devsprint tickets are being postponed to Aug 3rd (5:00 PM IST), from the current Aug 1st. Apologies for the inconvenience.

#Python #PyConIndia2019

[2019-07-31 03:07] bravegnu opened #137 "Workshop Tickets Announcement Poster"
We need a social media poster to announce "Workshop and Devsprint Tickets are Open!". @astronomersiva Can you get this done with the design team?

[2019-08-01 05:48] gnurenga commented on #136
done

[2019-08-01 05:48] #136 closed, assigned to nobody

[2019-08-01 18:13] anujaagarwal commented on #132
@bravegnu, I am taking over this task.

[2019-08-02 03:24] bravegnu commented on #132
Hi @anujaagarwal This task is done. If you are interested you can look into #137

[2019-08-02 03:24] #132 closed, assigned to nobody

[2019-08-03 10:14] bravegnu commented on #137
Workshop and devsprint tickets are open! The list of workshops is available from https://in.pycon.org/blog/2019/announcing-workshops.html

Book your tickets at https://www.townscript.com/e/pycon-india-2019/booking

#Python #PyConIndia2019

![workshop-open](https://user-images.githubusercontent.com/1171852/62410549-93f5e180-b604-11e9-9457-21310e7ead7c.png)

[2019-08-03 12:16] anujaagarwal commented on #137
Can I take over this task? Do I have to tweet
the above poster @bravegnu?
Because poster is already designed.

[2019-08-04 16:43] astronomersiva commented on #91
@bravegnu let's use this template

[2019-08-04 17:08] astronomersiva commented on #91
![PLATINUM SPONSOR (1)](https://user-images.githubusercontent.com/7725225/62426893-7ad65900-b708-11e9-86f8-b375aa4e7823.png)

[2019-08-05 03:42] bravegnu commented on #91
We are excited to announce AQR @AQRCapital as Platinum Sponsor for #PyConIndia2019. Find out more about AQR at https://in.pycon.org/blog/2019/announcing-aqr-as-platinum-sponsor.html

#Python

![PLATINUM SPONSOR (1)](https://user-images.githubusercontent.com/7725225/62426893-7ad65900-b708-11e9-86f8-b375aa4e7823.png)

[2019-08-05 05:16] bravegnu commented on #91
Subject: Announcing AQR as Platinum Sponsor

Hi Everyone,
We are happy to introduce our Platinum sponsor AQR Capital India Services LLP!

AQR is a global investment firm built at the intersection of financial theory and practical application. We strive to deliver concrete, long-term results by looking past market noise to identify and isolate the factors that matter most, and by developing ideas t

[2019-08-05 18:37] astronomersiva commented on #91
![PLATINUM SPONSOR (3)](https://user-images.githubusercontent.com/7725225/62486933-138ad880-b7de-11e9-976d-6376c54eb683.png)
![PLATINUM SPONSOR (2)](https://user-images.githubusercontent.com/7725225/62486937-14236f00-b7de-11e9-9e27-fd0910d0ab69.png)

[2019-08-06 03:31] #137 closed, assigned to nobody

[2019-08-06 03:45] bravegnu commented on #91
I just realized that the posters are getting truncated when displayed on the timeline. Can we change these to landscape?

[2019-08-06 16:34] astronomersiva commented on #91
![Untitled design (1)](https://user-images.githubusercontent.com/7725225/62558082-f0bbfb00-b895-11e9-980e-f29c6cb9068a.png)

Thoughts on this?

[2019-08-07 04:13] bravegnu commented on #91
Looks great!

[2019-08-07 04:40] astronomersiva commented on #91
![Untitled design (4)](https://user-images.githubusercontent.com/7725225/62595312-83db4c00-b8fb-11e9-9950-67d91e30f3f0.png)

[2019-08-07 04:44] bravegnu commented on #91
We are excited to announce JetBrains @jetbrains as Gold Sponsor for #PyConIndia2019. Find out more about JetBrains at https://in.pycon.org/blog/2019/announcing-jetbrains-as-gold-sponsor.html

#Python

![Untitled design (1)](https://user-images.githubusercontent.com/7725225/62558082-f0bbfb00-b895-11e9-980e-f29c6cb9068a.png)

[2019-08-07 04:45] bravegnu commented on #91
We are excited to announce Amazon Web Services @awscloud as Gold Sponsor for #PyConIndia2019. Find out more about Amazon Web Services at https://in.pycon.org/blog/2019/announcing-aws-as-gold-sponsor.html

#Python

![Untitled design (4)](https://user-images.githubusercontent.com/7725225/62595312-83db4c00-b8fb-11e9-9950-67d91e30f3f0.png)

[2019-08-07 04:59] bravegnu commented on #91
Subject: Announcing AWS as Gold Sponsor

We are happy to introduce our Gold sponsor *Amazon Web Services*!

For 13 years, Amazon Web Services has been the world’s most comprehensive and broadly adopted cloud platform. AWS offers over 165 fully featured services for compute, storage, databases, networking, analytics, robotics, machine learning and artificial intelligence (AI), Internet of Things (I

[2019-08-07 05:02] bravegnu commented on #91
Subject: Announcing JetBrains as Gold Sponsor

We are happy to introduce our Gold sponsor *JetBrains*!

JetBrains creates professional software development tools for coding in Java, Kotlin, C#, C++, Ruby, Python, PHP, JavaScript and more languages, as well as advanced team collaboration tools. At JetBrains, code is our passion. For over 18 years we have strived to make the strongest, most effectiv

[2019-08-07 05:40] rajkumartreads opened #138 "PySangamam 2018 Poster Photos"
![IMG_9121](https://user-images.githubusercontent.com/4427534/62597414-a2454580-b903-11e9-9915-b40b32cb1f6c.JPG)

![IMG_9067](https://user-images.githubusercontent.com/4427534/62597446-b9843300-b903-11e9-94a6-d0569aef7ad5.JPG)

![IMG_9028](https://user-images.githubusercontent.com/4427534/62597485-d3be1100-b903-11e9-8238-81ba734247ca.JPG)

[2019-08-07 11:16] bravegnu commented on #91
@astronomersiva Next time around, please post a high resolution version of the poster. Preferably 1600 pixels width. The posters are appearing blurred on LinkedIn.

[2019-08-07 15:43] abhishekmishragithub opened #139 "Identify wireless headphones facility from event management team"

[2019-08-07 19:11] bravegnu opened #140 "Keynote Speaker Announcement - Devi"
![keynote-speaker](https://user-images.githubusercontent.com/1171852/62650950-909c8600-b975-11e9-8925-3104d5afeb88.png)

We are happy to announce that Devi @asldevi is a keynote speaker for PyCon India 2019! https://in.pycon.org/blog//2019/announcing-keynote-speaker-for-pycon-india-2019-asldevi.html

#Python #PyConIndia2019

[2019-08-07 19:41] bravegnu commented on #140
Subject: Announcing Keynote Speaker - Devi A S L

Hi Everyone,
We are happy to announce that *Devi A S L* is a keynote speaker
for PyCon India 2019!

Devi is an independent software consultant, based in Bangalore.
She is a long term Pythonista and her work spans diverse domains ranging
from developing high-performance math libraries, cryptography to
architecting complex web applications.

Through

[2019-08-08 08:28] anujaagarwal commented on #91
I guess the last three posters design are final. So, should we start promoting @bravegnu ?

[2019-08-08 08:38] bravegnu commented on #91
They are already posted.

[2019-08-08 08:38] bravegnu commented on #91
@astronomersiva Will help you with coordinating the effort.

[2019-08-08 17:43] astronomersiva commented on #91
<img width="909" alt="Screen Shot 2019-08-08 at 23 12 51" src="https://user-images.githubusercontent.com/7725225/62725094-18e06100-ba32-11e9-94a3-1f9b5f01eba1.png">
<img width="909" alt="Screen Shot 2019-08-08 at 23 11 23" src="https://user-images.githubusercontent.com/7725225/62725096-18e06100-ba32-11e9-80f2-6001f5f4e78f.png">

[2019-08-09 03:28] stylesen commented on #91
We are excited to announce Mad Street Den @MadStreetDen as Gold Sponsor for #PyConIndia2019. Find out more about Mad Street Den at https://in.pycon.org/blog/2019/announcing-mad-street-den-as-gold-sponsor.html

#Python

<img width="909" alt="62725094-18e06100-ba32-11e9-94a3-1f9b5f01eba1" src="https://user-images.githubusercontent.com/1576612/62752128-d8113800-ba83-11e9-90db-323951170daa.png">

[2019-08-09 03:31] stylesen commented on #91
We are excited to announce Visible Alpha @VisibleAlpha as Gold Sponsor for #PyConIndia2019. Find out more about Visible Alpha at https://in.pycon.org/blog/2019/announcing-visible-alpha-as-gold-sponsor.html

#Python

<img width="909" alt="62725096-18e06100-ba32-11e9-80f2-6001f5f4e78f" src="https://user-images.githubusercontent.com/1576612/62752226-36d6b180-ba84-11e9-8a73-7d0d9b3670f3.png">

[2019-08-09 03:35] stylesen commented on #91
Subject: Announcing Mad Street Den as Gold Sponsor

We are happy to introduce our Gold sponsor Mad Street Den!

Mad Street Den is a Computer Vision and Artificial Intelligence Company building the AI architecture of the future. Founded by a Neuroscientist - Designer duo, the company's mission is to build models of generalizable intelligence on scale, that can be deployed through meaningful applica

[2019-08-09 03:37] stylesen commented on #91
Subject: Announcing Visible Alpha as Gold Sponsor

We are happy to introduce our Gold sponsor Visible Alpha!

Visible Alpha is transforming the way Wall Street firms collaborate on research, financial models and other services. With more than 500+ employees globally, the rapidly growing company combines advanced data correction methodologies, a secure distribution network and sophisticated analyti

[2019-08-09 18:27] anujaagarwal commented on #36
@bravegnu, should I speak to  speakers to get their travel itinerary?

[2019-08-09 18:32] anujaagarwal commented on #56
@bravegnu, Can I work on this? Provide me with questions which we should ask.

[2019-08-10 16:12] #140 closed, assigned to nobody

[2019-08-10 16:13] bravegnu opened #141 "Contact Information for Visa Processing"
People traveling from abroad will need to provide contact information of the event organizer for processing Indian Visa. We will need the name, address, and mobile no. of the person representing the event.

[2019-08-11 03:01] bravegnu opened #142 "Social Media Announcement for Poster Guide"
The What, Why and How of presenting posters at PyCon India 2019, at https://in.pycon.org/blog/2019/a-lucent-guide-to-poster-presentation.html

#Python #PyConIndia2019

![pysangamam_2018_3](https://user-images.githubusercontent.com/1171852/62829037-4d127800-bc12-11e9-8161-8d11e4c49d22.jpg)
![pysangamam_2018_2](https://user-images.githubusercontent.com/1171852/62829038-4dab0e80-bc12-11e9-9a16-2f36e0

[2019-08-11 13:30] abhishekmishragithub commented on #139
@bravegnu can you please add category /label for this issue?

[2019-08-11 17:15] astronomersiva commented on #91
![indeed](https://user-images.githubusercontent.com/7725225/62837138-876b2c00-bc89-11e9-9071-dd956cd43a59.png)

[2019-08-11 17:28] bravegnu commented on #91
We are excited to announce Indeed @indeed as Platinum Sponsor for #PyConIndia2019. Find out more about Indeed at https://in.pycon.org/blog/2019/announcing-indeed-as-platinum-sponsor.html

#Python

![indeed](https://user-images.githubusercontent.com/7725225/62837138-876b2c00-bc89-11e9-9071-dd956cd43a59.png)

[2019-08-11 17:30] bravegnu commented on #91
We are excited to announce Indeed @indeed as Platinum Sponsor for #PyConIndia2019. Find out more about Indeed at https://in.pycon.org/blog/2019/announcing-indeed-as-our-platinum-sponsor.html

#Python

![indeed](https://user-images.githubusercontent.com/7725225/62837138-876b2c00-bc89-11e9-9071-dd956cd43a59.png)

[2019-08-11 18:33] anujaagarwal commented on #142
@bravegnu, Can I take this work? Do I have to tweet from personal account or from PyCon account?

[2019-08-12 04:38] rajkumartreads opened #143 "Adding Map Diagrams to 'Reaching the Venues' page in website"
![reaching_venues_distance_map](https://user-images.githubusercontent.com/4427534/62845825-de541e00-bce8-11e9-9646-2444fffcd2f6.png)
![reaching_venues_map_airport](https://user-images.githubusercontent.com/4427534/62845831-ea3fe000-bce8-11e9-9993-8b837b9efe84.png)
![reaching_venues_map_central](https://user-images.githubusercontent.com/4427534/62845833-f461de80-bce8-11e9-8a40-40d1a5e2f0a7.png)
![r

[2019-08-12 04:40] rajkumartreads commented on #143
@gnurenga, sharing the images. You may use this in the website.

[2019-08-12 13:01] bravegnu commented on #91
Subject: Announcing Indeed as our Platinum Sponsor

We are happy to introduce our Platinum sponsor Indeed!

At Indeed, we help people get jobs, but it's more than just our mission. It’s a promise that extends to all our employees, as well as job seekers and employers. As the world’s #1 job site, we take pride in helping people get to where they want to be in their careers. Whether you’re still in

[2019-08-13 02:11] astronomersiva commented on #91
![Sticker Mule](https://user-images.githubusercontent.com/7725225/62910319-b672c200-bd9d-11e9-82e9-03688715372e.png)

[2019-08-13 04:31] stylesen commented on #91
We are excited to announce Sticker Mule @stickermule as InKind Sponsor for #PyConIndia2019. Find out more about Sticker Mule at https://in.pycon.org/blog/2019/announcing-sticker-mule-as-our-in-kind-sponsor.html

#Python

![62910319-b672c200-bd9d-11e9-82e9-03688715372e](https://user-images.githubusercontent.com/1576612/62915249-45d5a080-bdb1-11e9-960b-0b6a1c828629.png)

[2019-08-13 04:33] stylesen commented on #91
Subject: Announcing Sticker Mule as our InKind Sponsor

We are happy to introduce our InKind sponsor Sticker Mule!

Sticker Mule is the fastest & easiest way to buy custom printed products. Powered by a 100% remote team, we operate in 17 countries and ship worldwide to thousands of customers. We provide free online proofs, free artwork help, free worldwide shipping, blazing fast turnaround and 24/

[2019-08-13 06:37] gnurenga commented on #143
Will See how to add the images in to md file and send a pull request

[2019-08-14 00:19] bravegnu opened #144 "Get Python Express Back on Track"
We now have a new domain pythonexpress.org. Vignesh Sharma has modified magudi to use pythonexpress.org, this includes updating the certs and reverse proxy.

The project wye is still referring to pythonexpress.in in multiple places. These need to be fixed. For example OAuth does not work.

[2019-08-14 04:41] bravegnu commented on #144
@rajkumartreads Can you look into this repository https://github.com/pythonindia/wye and see if you can fix it so that it works from the new domain pythonexpress.org ?

[2019-08-15 05:27] astronomersiva commented on #91
![Original size  Untitled (3)](https://user-images.githubusercontent.com/7725225/63074549-633e7200-bf4b-11e9-99b7-1eac45f8624c.png)
![Original size  Untitled (2)](https://user-images.githubusercontent.com/7725225/63074552-65083580-bf4b-11e9-97e2-08216a061268.png)

[2019-08-15 05:31] astronomersiva commented on #91
<img width="882" alt="Screen Shot 2019-08-15 at 10 58 01" src="https://user-images.githubusercontent.com/7725225/63074603-98e35b00-bf4b-11e9-87f1-e8bdd4290ace.png">
<img width="882" alt="Screen Shot 2019-08-15 at 11 00 07" src="https://user-images.githubusercontent.com/7725225/63074672-eb247c00-bf4b-11e9-9fe8-51fc8a2c3f1a.png">

[2019-08-15 06:25] stylesen commented on #91
We are excited to announce Ericsson @ericsson as Gold Sponsor for #PyConIndia2019. Find out more about Ericsson at https://in.pycon.org/blog/2019/announcing-ericsson-as-gold-sponsor.html

#Python

<img width="882" alt="63074603-98e35b00-bf4b-11e9-87f1-e8bdd4290ace" src="https://user-images.githubusercontent.com/1576612/63076638-7fdea800-bf53-11e9-8bf3-310274fb9ee8.png">

[2019-08-15 06:25] stylesen commented on #91
We are excited to announce HappyFox @HappyFoxApp as Gold Sponsor for #PyConIndia2019. Find out more about HappyFox at https://in.pycon.org/blog/2019/announcing-happyfox-as-gold-sponsor.html

#Python

<img width="882" alt="63074672-eb247c00-bf4b-11e9-9fe8-51fc8a2c3f1a" src="https://user-images.githubusercontent.com/1576612/63076652-8e2cc400-bf53-11e9-8f85-48f62f9ac438.png">

[2019-08-15 06:26] stylesen commented on #91
Subject: Announcing Ericsson as our Gold Sponsor

We are happy to introduce our Gold sponsor Ericsson!

Ericsson is one of the leading providers of Information and Communication Technology (ICT) to service providers, with about 40% of the world’s mobile traffic carried through our networks. We enable the full value of connectivity by creating game-changing technology and services that are easy to

[2019-08-15 06:28] stylesen commented on #91
Subject: Announcing HappyFox as our Gold Sponsor

We are happy to introduce our Gold sponsor HappyFox!

HappyFox is a SaaS-based customer support platform. We offer an enterprise-grade help desk ticketing system and an intuitively designed live chat software. Recently, we launched an AI chatbot solution and a Business Intelligence product for enterprises.

HappyFox has been rated as the ‘Best Help

[2019-08-15 17:15] astronomersiva commented on #91
<img width="908" alt="Screen Shot 2019-08-15 at 22 40 51" src="https://user-images.githubusercontent.com/7725225/63112544-1cce2f00-bfae-11e9-96cb-7eb4788d79a3.png">
<img width="908" alt="Screen Shot 2019-08-15 at 22 42 11" src="https://user-images.githubusercontent.com/7725225/63112545-1cce2f00-bfae-11e9-8289-b058c747aef9.png">
<img width="906" alt="Screen Shot 2019-08-15 at 22 42 52" src="https:/

[2019-08-16 03:44] stylesen commented on #91
We are excited to announce Innovaccer @innovaccer as Gold Sponsor for #PyConIndia2019. Find out more about Innovaccer at https://in.pycon.org/blog/2019/announcing-innovaccer-as-gold-sponsor.html

#Python

<img width="908" alt="63112544-1cce2f00-bfae-11e9-96cb-7eb4788d79a3" src="https://user-images.githubusercontent.com/1576612/63142134-2c796200-c006-11e9-8f04-5c1da7d152d5.png">

[2019-08-16 03:46] stylesen commented on #91
We are excited to announce Pramati @PramatiConnect as Silver Sponsor for #PyConIndia2019. Find out more about Pramati at https://in.pycon.org/blog/2019/announcing-pramati-technologies-as-silver-sponsor.html

#Python

<img width="908" alt="63112545-1cce2f00-bfae-11e9-8289-b058c747aef9" src="https://user-images.githubusercontent.com/1576612/63142207-8548fa80-c006-11e9-9002-38bcc337e517.png">

[2019-08-16 03:48] stylesen commented on #91
We are excited to announce Pipal Academy @pipalacademy as Silver Sponsor for #PyConIndia2019. Find out more about Pipal Academy at https://in.pycon.org/blog/2019/announcing-pipal-academy-as-silver-sponsor.html

#Python

<img width="906" alt="63112547-1cce2f00-bfae-11e9-8c87-b75c0dff89dd" src="https://user-images.githubusercontent.com/1576612/63142290-cfca7700-c006-11e9-9b9e-bea77f2727d4.png">

[2019-08-16 03:50] stylesen commented on #91
Subject: Announcing Innovaccer as our Gold Sponsor

We are happy to introduce our Gold sponsor Innovaccer!

Innovaccer Inc. is a leading healthcare data activation company committed to making a powerful difference in the way healthcare organizations leverage Big Data to deliver patient care. Innovaccer’s aim is to make full use of all the data healthcare has worked so hard to collect with its suit

[2019-08-16 03:52] stylesen commented on #91
Subject: Announcing Pramati as our Silver Sponsor

We are happy to introduce our Silver sponsor Pramati!

Pramati Technologies, a privately held software company, builds independent technology businesses focused on profitable, well-defined markets in digital, social, mobile, and cloud computing. Among its ventures are the low-code platform vendor WaveMaker Inc., the micro-apps platform SpotCues In

[2019-08-16 03:53] stylesen commented on #91
Subject: Announcing Pipal Academy as our Silver Sponsor

We are happy to introduce our Silver sponsor Pipal Academy!

Pipal Academy is a collective of experienced technologists, who care deeply about the art of software development. They offer in-depth courses on niche technical topics. We regularly conduct public workshops and also offer on site corporate trainings. Our courses are targeted at pr

[2019-08-16 10:23] rajkumartreads opened #145 "Workshop posters for Social Media promotion"
![1_docker](https://user-images.githubusercontent.com/4427534/63161337-7f224080-c03d-11e9-8efd-33055789a20e.png)
![2_tornado](https://user-images.githubusercontent.com/4427534/63161347-88aba880-c03d-11e9-81c2-82aa264f1150.png)
![3_postgis](https://user-images.githubusercontent.com/4427534/63161361-906b4d00-c03d-11e9-9119-810253b61fc5.png)
![4_nlp](https://user-images.githubusercontent.com/4427534/

[2019-08-16 10:28] rajkumartreads commented on #145
@gnurenga, you can use it in SM posts.

[2019-08-17 04:43] bravegnu commented on #145
Attend focused hands-on workshops, by experts, at #PyConIndia2019. The workshops happen in parallel. You can attend one of the following morning workshops.

<hr/>

Demystifying @Docker for Devs by Sanchit Balchandani @inovizz and Mahendra Yadav @userimack

Details: https://in.pycon.org/cfp/workshops-2019/proposals/demystifying-docker-for-devs~e9WPb/

Tickets: https://in.pycon.org/2019/#tickets

![

[2019-08-18 04:39] bravegnu commented on #145
Here are the afternoon workshops for #PyConIndia2019. You can attend one of the following.

<hr/>

Build your Own Async by David Beazley @dabeaz

Details: https://in.pycon.org/2019/workshop-build-your-own-async.html

Tickets: https://in.pycon.org/2019/#tickets

![7_async](https://user-images.githubusercontent.com/4427534/63161386-a1b45980-c03d-11e9-9b43-3348d39466bb.png)

<hr/>

Serverless with @O

[2019-08-19 11:33] bravegnu opened #146 "Startup Sponsorship Social Media Announcement"
PyCon India is equally accessible to both small and large organizations. Our sponsorship slot for startups starts at just Rs. 25,000. What are you waiting for? Come be a part of #PyConIndia2019! Details: https://in.pycon.org/2019/sponsorship-prospectus.pdf

[2019-08-19 12:16] bravegnu commented on #146
We welcome startups to showcase their work at #PyConIndia2019! Our sponsorship slot starts as low as Rs. 25,000. More details at https://in.pycon.org/2019/sponsorship-prospectus.pdf

[2019-08-22 03:20] bravegnu opened #147 "Poster CFP Closes in 10 Days"
Poster CFP closes in 10 days! Don't miss this opportunity to present your work / insights at #PyConIndia2019. Submit your proposal at https://in.pycon.org/cfp/posters-2019/proposals/

#Python

![poster-cfp-10-days](https://user-images.githubusercontent.com/1171852/63483298-8d4ae380-c4b9-11e9-8de9-15a095a1bf77.png)

[2019-08-22 03:32] bravegnu commented on #147
Subject: PyCon India Poster CFP Closes in 10 Days

Hi Everyone,
The poster CFP closes in 10 days! Do not miss this opportunity to present your work / insights at PyCon India 2019.

Read our poster presentation guide at https://in.pycon.org/blog/2019/a-lucent-guide-to-poster-presentation.html Submit your proposal at https://in.pycon.org/cfp/posters-2019/proposals/

Regards,
{Your-Name}
PyCon India

[2019-08-22 03:38] bravegnu commented on #147
Sent to inpycon and inpycon-announce.

[2019-08-22 03:45] bravegnu commented on #147
Sent to
chennaipy
pythonpune
hydpy
ncr-python.in
bangpypers
pyjaipur

[2019-08-23 09:09] bravegnu opened #148 "CFP Review Comments"
CFP review is in full swing, please checkback on your proposals for comments from the CFP team.

#Python #Python2019

[2019-08-25 16:16] stylesen commented on #91
![social-media-poster](https://user-images.githubusercontent.com/1576612/63653242-eb144f80-c787-11e9-9533-1298076c54a0.png)

![social-media-poster](https://user-images.githubusercontent.com/1576612/63653246-f1a2c700-c787-11e9-810e-3c49abd3fc7d.png)

![social-media-poster](https://user-images.githubusercontent.com/1576612/63653250-f6677b00-c787-11e9-870c-63f8f7fd1bfc.png)

[2019-08-25 16:19] bravegnu commented on #91
For the first silver sponsor the company name / organization, might be required as part of the poster. For the rest I guess the design is good. But please provide a high resolution version of the poster, atleast 1600 pixels width.

[2019-08-25 17:01] stylesen commented on #91
I fixed the above posters. Now the size is 1800x1000 px

[2019-08-25 17:26] bravegnu commented on #91
@stylesen One final feedback would be, to make the text "ERPNext Foundation" larger and use a sans serif font.

[2019-08-25 17:47] stylesen commented on #91
@bravegnu I fixed it as per your comments.

[2019-08-26 04:29] stylesen commented on #91
We are excited to announce DCKAP @DCKAP as Silver Sponsor for #PyConIndia2019. Find out more about DCKAP at https://in.pycon.org/blog/2019/announcing-dckap-as-silver-sponsor.html

#Python

![social-media-poster](https://user-images.githubusercontent.com/1576612/63665253-2cd4e280-c7e8-11e9-805d-5b015eb34fbf.png)

[2019-08-26 04:31] stylesen commented on #91
We are excited to announce Real Python @realpython as Associate Sponsor for #PyConIndia2019. Find out more about Real Python at https://in.pycon.org/blog/2019/announcing-real-python-as-associate-sponsor.html

#Python

![social-media-poster](https://user-images.githubusercontent.com/1576612/63665278-48d88400-c7e8-11e9-8fcd-8a869163a754.png)

[2019-08-26 04:33] stylesen commented on #91
We are excited to announce Xapo @xapo as InKind Sponsor for #PyConIndia2019. Find out more about Xapo at https://in.pycon.org/blog/2019/announcing-xapo-as-inkind-sponsor.html

#Python

![social-media-poster](https://user-images.githubusercontent.com/1576612/63665355-98b74b00-c7e8-11e9-94e8-743f9eec911f.png)

[2019-08-26 04:34] stylesen commented on #91
Subject: Announcing DCKAP as our Silver Sponsor

We are happy to introduce our Silver sponsor DCKAP!

DCKAP is one of the world's foremost digital commerce specialists. We build, enhance, and manage enterprise eCommerce storefronts. We power digital commerce for brands, manufacturers and distributors across the globe with a suite of leading products leveraging Python, Machine Learning allowing bus

[2019-08-26 04:35] stylesen commented on #91
Subject: Announcing Real Python as our Associate Sponsor

We are happy to introduce our Associate sponsor Real Python!

At Real Python you'll master real-world Python programming skills from the ground up. Their large collection of Python tutorials and in-depth training materials is created, curated, and vetted by a community of expert developers. With new content published weekly, you'll always f

[2019-08-26 04:36] stylesen commented on #91
Subject: Announcing Xapo as our InKind Sponsor

We are happy to introduce our InKind sponsor Xapo!

Xapo is a fast-growing, global fintech company building a way for users all over the world to send, receive, spend, and store their money globally and safely. We're firm believers that no matter who you are or where you're from, you deserve easy access to digital financial services.

Launched in 201

[2019-08-27 04:28] bravegnu opened #149 "Poster CFP Closes in 5 Days"
Meet, present, discuss and connect with people over a poster, at #PyConIndia2019 . Submit your proposal at https://in.pycon.org/cfp/posters-2019/proposals/

#Python

![poster-cfp-5-days](https://user-images.githubusercontent.com/1171852/63740900-6ec95b80-c8b0-11e9-8b3d-2a11f732196f.png)

[2019-08-27 05:35] stylesen commented on #91
![edii-tn-social-media-poster](https://user-images.githubusercontent.com/1576612/63773745-7103d800-c8f9-11e9-8459-b1907d9609d4.png)

![erpnext-socia-media-poster](https://user-images.githubusercontent.com/1576612/63770923-d8b72480-c8f3-11e9-8715-e68b00cb26ad.png)

![lji-social-media-poster](https://user-images.githubusercontent.com/1576612/63773769-7fea8a80-c8f9-11e9-916e-5d32f8b8b5b7.png)

![mave

[2019-08-27 05:39] bravegnu commented on #91
@stylesen I would prefer a round rectangle around the logo. And more padding between the logo and rectangle.

[2019-08-27 05:58] stylesen commented on #91
@bravegnu hope now it looks good?

[2019-08-27 06:16] bravegnu commented on #91
Sorry to trouble you. But let's make the rectangle white. That will give better contrast with the text on front. Otherwise looks great!

[2019-08-27 07:09] bravegnu opened #150 "Python Express Promotion"
Promote Python Express among trainers for registering themselves as a tutor. And promote Python Express among schools and colleges to register a workshop request.

[2019-08-27 08:10] bravegnu opened #151 "Promote Python Express"
Promote Python Express among trainers for registering themselves as a tutor. And promote Python Express among schools and acolleges to register a workshop request.

[2019-08-27 08:11] bravegnu opened #152 "Reach out to last year Devsprint Mentors"
Reach out to last year Devsprint Mentors to submit a devsprint proposal this year as well.

[2019-08-27 12:33] stylesen commented on #91
We are excited to announce ERPNext Foundation @erpnext as Silver Sponsor for #PyConIndia2019. Find out more about ERPNext Foundation at https://in.pycon.org/blog/2019/announcing-erpnext-foundation-as-silver-sponsor.html

#Python

![social-media-poster](https://user-images.githubusercontent.com/1576612/63771568-094b8e00-c8f5-11e9-9b95-d1eb616c093e.png)

[2019-08-27 12:35] stylesen commented on #91
Subject: Announcing ERPNext Foundation as our Silver Sponsor

We are happy to introduce our Silver sponsor ERPNext Foundation!

ERPNext Foundation is a not for profit that helps build the ERPNext community and other open source projects. (We may wish to update this description later if possible)

Website Link: https://erpnext.org

Like, share and retweet our social media announcements:

{twitter-p

[2019-08-27 13:45] stylesen commented on #91
We are excited to announce EDII-TN @edichennaitn as Gold Sponsor for #PyConIndia2019. Find out more about EDII-TN at https://in.pycon.org/blog/2019/announcing-edii-tn-as-gold-sponsor.html

#Python

![edii-tn-social-media-poster](https://user-images.githubusercontent.com/1576612/63776403-f938ac00-c8fe-11e9-8cbc-3c9760623355.png)

[2019-08-27 13:48] stylesen commented on #91
We are excited to announce Loyalty Juggernaut @LoyaltyJug as Silver Sponsor for #PyConIndia2019. Find out more about Loyalty Juggernaut at https://in.pycon.org/blog/2019/announcing-loyalty-juggernaut-as-silver-sponsor.html

#Python

![lji-social-media-poster](https://user-images.githubusercontent.com/1576612/63776633-60566080-c8ff-11e9-912a-26b572caffe9.png)

[2019-08-27 13:49] stylesen commented on #91
We are excited to announce MavenHive @LoyaltyJug as Associate Sponsor for #PyConIndia2019. Find out more about MavenHive at https://in.pycon.org/blog/2019/announcing-mavenhive-as-associate-sponsor.html

#Python

![mavenhive-social-media-poster](https://user-images.githubusercontent.com/1576612/63776730-9267c280-c8ff-11e9-83b0-5d979da14d99.png)

[2019-08-27 13:51] stylesen commented on #91
Subject: Announcing EDII-TN as our Gold Sponsor

We are happy to introduce our Gold sponsor EDII-TN!

EDII (Entrepreneurship Development and Innovation Institute)​, a society established by the Government of Tamil Nadu, to foster entrepreneurship and innovation in the State. Recently State Government launched the Tamil Nadu Startup and Innovation Policy which aims at creating a conducive entrepren

[2019-08-27 13:52] stylesen commented on #91
Subject: Announcing Loyalty Juggernaut as our Silver Sponsor

We are happy to introduce our Silver sponsor Loyalty Juggernaut!

LJI builds GRAVTY, a digital transformation cloud platform for customer engagement and loyalty management. Built ground-up on break-through technologies including Big Data, Serverless computing, Micro Services architecture, IoT, ML/AI, GRAVTY help brands maximize customer

[2019-08-27 13:53] stylesen commented on #91
Subject: Announcing MavenHive as our Associate Sponsor

We are happy to introduce our Associate sponsor MavenHive!

MavenHive is a Bangalore based boutique consulting firm specializing in end-to-end product development and training. They have built a team of talented people from diverse backgrounds who have come together for one mission, to "turn ideas into awesome software" !

Over the last 7+ ye

[2019-08-29 04:36] bravegnu commented on #91
We are partnering with @oyorooms for accommodation, please use the discount code OYOPYCON30. Validity extended till 15th September. Suggested hotels: https://github.com/pythonindia/inpycon2019-tasks/wiki/OYO-Rooms-Near-the-Venues

#PyConIndia2019

![oyorooms-2](https://user-images.githubusercontent.com/1171852/63910568-e9c37b00-ca44-11e9-9d27-4fb855faeee4.png)

[2019-08-29 04:50] bravegnu opened #153 "Understanding Devsprints"
What is a devsprint? Can you participate? Can you run a devsprint? Get answers to these questions at https://in.pycon.org/blog/2019/understanding-devsprints.html

#Python #PyConIndia2019

[2019-08-31 03:19] bravegnu opened #154 "Extend Poster CFP Deadline"
The poster CFP has started gaining a lot of traction, recently. Hence we are extending the poster deadline to 3rd Sept. Submit your proposal at: https://in.pycon.org/cfp/posters-2019/proposals/

#Python #PyConIndia2019

[2019-09-03 04:07] bravegnu opened #155 "Poster CFP Closes Today"
The CFP for posters is closing today! Please submit your proposal at https://in.pycon.org/cfp/posters-2019/proposals/

#Python #PyConIndia2019

[2019-09-03 04:08] bravegnu commented on #155
Subject: PyCon India Poster CFP Closes Today

Hi Everyone,
The CFP for posters is closing today (3rd Sep). Please submit your proposal at https://in.pycon.org/cfp/posters-2019/proposals/

Regards,
Vijay

[2019-09-03 11:49] stylesen commented on #91
![elastic-social-media-poster](https://user-images.githubusercontent.com/1576612/64170909-ea0dad00-ce6e-11e9-9199-ab5470f875ac.png)

![deepsource-social-media-poster](https://user-images.githubusercontent.com/1576612/64170914-eda13400-ce6e-11e9-83a7-6639fdfdb300.png)

![thoughtworks-social-media-poster](https://user-images.githubusercontent.com/1576612/64170925-f134bb00-ce6e-11e9-8269-faf528899579

[2019-09-03 13:37] stylesen commented on #91
We are excited to announce Elastic @elastic as Silver Sponsor for #PyConIndia2019. Find out more about Elastic at https://in.pycon.org/blog/2019/announcing-elastic-as-silver-sponsor.html

#Python

![elastic-social-media-poster](https://user-images.githubusercontent.com/1576612/64177904-09600680-ce7e-11e9-9386-100b6a623252.png)

[2019-09-03 13:38] stylesen commented on #91
We are excited to announce DeepSource @DeepSourceHQ as Silver Sponsor for #PyConIndia2019. Find out more about DeepSource at https://in.pycon.org/blog/2019/announcing-deepsource-as-silver-sponsor.html

#Python

![deepsource-social-media-poster](https://user-images.githubusercontent.com/1576612/64177997-33b1c400-ce7e-11e9-9ec1-80df41e65002.png)

[2019-09-03 13:39] stylesen commented on #91
We are excited to announce ThoughtWorks @thoughtworks as Silver Sponsor for #PyConIndia2019. Find out more about ThoughtWorks at https://in.pycon.org/blog/2019/announcing-thoughtworks-as-silver-sponsor.html

#Python

![thoughtworks-social-media-poster](https://user-images.githubusercontent.com/1576612/64178069-60fe7200-ce7e-11e9-90a8-6b11d5adbe5f.png)

[2019-09-03 13:41] stylesen commented on #91
We are excited to announce cppsecrets.com @cppsecrets as Associate Sponsor for #PyConIndia2019. Find out more about cppsecrets.com at https://in.pycon.org/blog/2019/announcing-cppsecretscom-as-associate-sponsor.html

#Python

![cppsecrets-social-media-poster](https://user-images.githubusercontent.com/1576612/64178218-b0dd3900-ce7e-11e9-9475-49e32afe9e78.png)

[2019-09-03 13:43] stylesen commented on #91
Subject: Announcing Elastic as our Silver Sponsor

We are happy to introduce our Silver sponsor Elastic!

Elastic is a search company. As the creators of the Elastic Stack (Elasticsearch, Kibana, Beats, and Logstash), Elastic builds self-managed and SaaS offerings that make data usable in real time and at scale for search, logging, security, and analytics use cases. Since its founding in 2012, the

[2019-09-03 13:44] stylesen commented on #91
Subject: Announcing DeepSource as our Silver Sponsor

We are happy to introduce our Silver sponsor DeepSource!

DeepSource is a continuous quality and security tool that automates code reviews and helps developers ship good code by detecting bug-risks, anti-patterns, performance issues and security vulnerabilities before they make it to production code. With first-class support for Python, DeepSou

[2019-09-03 13:45] stylesen commented on #91
Subject: Announcing ThoughtWorks as our Silver Sponsor

We are happy to introduce our Silver sponsor ThoughtWorks!

ThoughtWorks is a community of passionate individuals whose purpose is to revolutionize software design, creation, and delivery while advocating for positive social change. There are over 5,000 ThoughtWorkers in 14 countries, and we’re growing fast in every region of the world.

We w

[2019-09-03 13:46] stylesen commented on #91
Subject: Announcing cppsecrets.com as our Associate Sponsor

We are happy to introduce our Associate sponsor cppsecrets.com!

A Professional Handbook and Encylopedia for C++ and Python Engineers. Your small contribution can make someone life easier. A platform for C++ and Python Engineers, where they can contribute their C++ and Python experience along with tips and tricks.

Every user will be rat

[2019-09-04 03:52] bravegnu opened #156 "T-Shirt Caption Suggestion"
Send us your caption suggestion for #PyConIndia2019 T-Shirt, as a reply to this tweet!

[2019-09-07 03:32] bravegnu opened #157 "T-Shirt Size Update"
Hi Everyone,
If you have purchased a conference ticket, please make sure your T-Shirt size is updated as per the size chart at https://in.pycon.org/2019/assets/images/tshirt-size-chart.png We will take a snapshot of the data on 10th September. And you will be entitled to the T-Shirt size specified in the snapshot. Any request for a different size will be purely based on availability.

Regards,
{Yo

[2019-09-12 03:32] bravegnu opened #158 "30 Days to Go!"
⏳ 30 Days to Go, for PyCon India 2019! ⏳

#PyConIndia2019 #Python

![30-days](https://user-images.githubusercontent.com/1171852/64751808-05497e00-d53b-11e9-8c2e-d8466f0906d5.png)

[2019-09-12 03:38] #153 closed, assigned to nobody

[2019-09-12 03:38] #154 closed, assigned to nobody

[2019-09-12 03:38] #155 closed, assigned to nobody

[2019-09-12 03:38] #156 closed, assigned to nobody

[2019-09-12 03:38] #157 closed, assigned to nobody

[2019-09-12 03:38] #131 closed, assigned to nobody

[2019-09-12 03:38] #134 closed, assigned to nobody

[2019-09-12 03:38] #142 closed, assigned to nobody

[2019-09-12 03:38] #146 closed, assigned to nobody

[2019-09-12 03:38] #147 closed, assigned to nobody

[2019-09-12 03:38] #148 closed, assigned to nobody

[2019-09-12 03:38] #149 closed, assigned to nobody

[2019-09-12 03:39] #44 closed, assigned to abhishekmishragithub

[2019-09-12 03:39] #59 closed, assigned to nobody

[2019-09-12 03:39] #80 closed, assigned to nobody

[2019-09-12 03:39] #100 closed, assigned to nobody

[2019-09-12 03:39] #127 closed, assigned to nobody

[2019-09-12 03:39] #133 closed, assigned to stylesen, astronomersiva, abhishekmishragithub

[2019-09-12 03:41] #28 closed, assigned to nobody

[2019-09-12 03:41] #38 closed, assigned to zerothabhishek

[2019-09-12 03:41] #42 closed, assigned to nobody

[2019-09-12 03:41] #126 closed, assigned to nobody

[2019-09-12 03:42] #11 closed, assigned to nobody

[2019-09-12 03:42] #20 closed, assigned to nobody

[2019-09-12 03:42] #36 closed, assigned to nobody

[2019-09-12 03:42] #34 closed, assigned to nobody

[2019-09-12 03:42] #54 closed, assigned to nobody

[2019-09-12 03:42] #63 closed, assigned to nobody

[2019-09-12 03:43] #120 closed, assigned to nobody

[2019-09-12 03:43] #138 closed, assigned to nobody

[2019-09-12 03:43] #145 closed, assigned to nobody

[2019-09-12 03:44] #74 closed, assigned to gnurenga, aditiprakash

[2019-09-12 03:44] #77 closed, assigned to nobody

[2019-09-12 03:45] #92 closed, assigned to nobody

[2019-09-12 03:45] #105 closed, assigned to nobody

[2019-09-12 13:44] pradyunsg commented on #34
@sharmi Whoops! I'd missed your comment. Here's at least one such script, provided inline:

[code]

[2019-09-15 11:54] nishadhka opened #159 "Poster printing service"
Transportation/packaging is to be the main reason to go for poster print in expensive materials such as in Matte/glossy photo paper or high grade vinyl. Local poster print service could avoid this with printing in normal paper on much cheaper rate. Besides, a single point poster print would be advantageous in maintaining quality.

[2019-09-15 12:06] bravegnu commented on #159
Thanks for the suggestion Nishadh. Let me check if this can be done by the organizing team.

[2019-09-16 04:04] stylesen commented on #91
![toyota-social-media-poster](https://user-images.githubusercontent.com/1576612/64934293-7fde0a80-d867-11e9-972f-07a9d9871425.png)

[2019-09-16 04:18] bravegnu commented on #91
I would prefer a rounded rectangle around the logo.

[2019-09-16 04:19] stylesen commented on #91
We are excited to announce Toyota Connected @ToyotaConnected as Associate Sponsor for #PyConIndia2019. Find out more about Toyota Connected at https://in.pycon.org/blog/2019/announcing-toyota-connected-as-associate-sponsor.html

#Python

![toyota-social-media-poster](https://user-images.githubusercontent.com/1576612/64934299-8a989f80-d867-11e9-8959-4ca53dfdbbe8.png)

[2019-09-16 04:24] stylesen commented on #91
Subject: Announcing Toyota Connected as our Associate Sponsor

We are happy to introduce our Associate sponsor Toyota Connected!

TOYOTA Connected leads the development of Toyota’s cloud-based  Connected Vehicle platforms & services. We are a Technology company primarily made up of software engineers, data scientists, and designers who have a passion for driving innovation in mobility, safety, and

[2019-09-20 01:51] stylesen commented on #91
![redhat-social-media-poster](https://user-images.githubusercontent.com/1576612/65292995-31867f80-db77-11e9-94d5-b0a90786c4b3.png)

![guvisocial-media-poster](https://user-images.githubusercontent.com/1576612/65292998-364b3380-db77-11e9-9bfa-dd12551495b5.png)

![zeomega-social-media-poster](https://user-images.githubusercontent.com/1576612/65293004-3b0fe780-db77-11e9-8162-270bdb6f4e45.png)

![mjit

[2019-09-20 01:55] stylesen commented on #91
We are excited to announce Red Hat @RedHat as Silver Sponsor for #PyConIndia2019. Find out more about Red Hat at https://in.pycon.org/blog/2019/announcing-red-hat-as-silver-sponsor.html

#Python

![redhat-social-media-poster](https://user-images.githubusercontent.com/1576612/65293138-cc7f5980-db77-11e9-9f6c-c3e198395d7d.png)

[2019-09-20 01:56] stylesen commented on #91
We are excited to announce GUVI @GuviGeek as Silver Sponsor for #PyConIndia2019. Find out more about GUVI at https://in.pycon.org/blog/2019/announcing-guvi-as-silver-sponsor.html

#Python

![guvisocial-media-poster](https://user-images.githubusercontent.com/1576612/65293199-005a7f00-db78-11e9-9018-0b05b034879f.png)

[2019-09-20 01:58] stylesen commented on #91
We are excited to announce ZeOmega @ZeOmega as Silver Sponsor for #PyConIndia2019. Find out more about ZeOmega at https://in.pycon.org/blog/2019/announcing-zeomega-as-silver-sponsor.html

#Python

![zeomega-social-media-poster](https://user-images.githubusercontent.com/1576612/65293251-3a2b8580-db78-11e9-9527-982426efb2e1.png)

[2019-09-20 02:00] stylesen commented on #91
We are excited to announce Maho Jase institute of Technology (MJIT) @mahojase as Associate Sponsor for #PyConIndia2019. Find out more about Maho Jase institute of Technology (MJIT) at https://in.pycon.org/blog/2019/announcing-maho-jase-institute-of-technology-mjit-as-associate-sponsor.html

#Python

![mjit-social-media-poster](https://user-images.githubusercontent.com/1576612/65293322-7a8b0380-db7

[2019-09-20 02:02] stylesen commented on #91
Subject: Announcing Red Hat as our Silver Sponsor

We are happy to introduce our Silver sponsor Red Hat!

Red Hat is the world's leading provider of enterprise open source software solutions, using a community-powered approach to deliver reliable and high-performing Linux, hybrid cloud, container, and Kubernetes technologies. Red Hat helps customers integrate new and existing IT applications, deve

[2019-09-20 02:02] stylesen commented on #91
Subject: Announcing GUVI as our Silver Sponsor

We are happy to introduce our Silver sponsor GUVI!

GUVI, an IIT Madras-incubated company, is an online technical learning platform that has been started as YouTube Channel by Ex-Paypalians to share their technical learnings. It is working to make engineers employable by making difference in the way they are learning. It is an integrated Edu-Tech Pla

[2019-09-20 02:03] stylesen commented on #91
Subject: Announcing ZeOmega as our Silver Sponsor

We are happy to introduce our Silver sponsor ZeOmega!

Established in 2001, ZeOmega built, and continues to deliver, the industry's leading population health management platform, Jiva, including utilization management, case management, and disease management. Our end-to-end, interoperability-enabled platform is rapidly deployable, highly scalable,

[2019-09-20 02:04] stylesen commented on #91
Subject: Announcing Maho Jase institute of Technology (MJIT) as our Associate Sponsor

We are happy to introduce our Associate sponsor Maho Jase institute of Technology (MJIT)!

Maho Jase institute of Technology (MJIT) is a company, who trains people and make them into professionals. MJIT focus more on production readiness rather course coverage. MJIT provides not just standard training course but

[2019-09-22 14:57] #50 closed, assigned to nobody

[2019-09-22 14:57] #64 closed, assigned to nobody

[2019-09-22 14:57] #114 closed, assigned to nobody

[2019-09-22 14:57] #115 closed, assigned to nobody

[2019-09-22 14:57] #128 closed, assigned to nobody

[2019-09-22 14:57] #129 closed, assigned to nobody

[2019-09-22 14:57] #141 closed, assigned to nobody

[2019-09-22 14:57] #143 closed, assigned to nobody

[2019-09-22 14:57] #158 closed, assigned to nobody

[2019-09-23 02:23] stylesen commented on #91
![atonarp-social-media-poster](https://user-images.githubusercontent.com/1576612/65398859-36496e80-ddd7-11e9-8832-ce525d12ae19.png)

[2019-09-23 02:45] stylesen commented on #91
We are excited to announce ATONARP @Atonarp as Associate Sponsor for #PyConIndia2019. Find out more about ATONARP at https://in.pycon.org/blog/2019/announcing-atonarp-as-associate-sponsor.html

#Python

![atonarp-social-media-poster](https://user-images.githubusercontent.com/1576612/65399443-46af1880-ddda-11e9-800c-6058f01bf791.png)

[2019-09-23 02:47] stylesen commented on #91
Subject: Announcing ATONARP as our Associate Sponsor

We are happy to introduce our Associate sponsor ATONARP!

At Atonarp, we are revolutionising how we sense, collect, process and interpret data at the molecular level. Our teams work out of Tokyo, Bay Area and Bengaluru with a focus on scientific technology platforms for molecular analysis.

The ability to see materials in molecular detail opens

[2019-09-23 04:10] bravegnu opened #160 "Community Spaces Poster"
Present and expand your community, exhibit your work, inspire and mentor other organizers at the community spaces. Details and registration at https://in.pycon.org/2019/community-spaces.html

#Python #PyConIndia2019

![community-spaces](https://user-images.githubusercontent.com/1171852/65401540-677d6b00-dde6-11e9-96b7-8760a7fbc8e0.png)

[2019-09-23 04:16] bravegnu commented on #160
Subject: Community Spaces at PyCon India

Hi Everyone,
We welcome community organizers to present their community, exhibit their work, inspire and mentor other organizers at the community spaces. For more details and to register, please visit https://in.pycon.org/2019/community-spaces.html

Registration for community posters closes on 30th Sept.

Regards,
{{your-name}}
PyCon India 2019 Team

[2019-09-23 09:17] amrrs commented on #151
@bravegnu Sorry to jump in, Just curious to know what's `Python Express`, Any links you could help me with?

Before posting this, DDGed - no result

[2019-09-23 09:17] amrrs commented on #151
Poor me got it here https://github.com/pythonindia/inpycon2019-tasks/issues/144

[2019-09-25 14:06] stylesen commented on #91
![episource-social-media-poster](https://user-images.githubusercontent.com/1576612/65608286-9b65b580-dfcb-11e9-9c0a-39eaae140a11.png)

![airasia-social-media-poster](https://user-images.githubusercontent.com/1576612/65608310-a6204a80-dfcb-11e9-8741-9b9661ab4a1c.png)

![reckonsys-social-media-poster](https://user-images.githubusercontent.com/1576612/65608321-aae4fe80-dfcb-11e9-9473-0071f3472f6a.png

[2019-09-25 14:45] stylesen commented on #91
We are excited to announce Episource @EpisourceLLC as Silver Sponsor for #PyConIndia2019. Find out more about Episource at https://in.pycon.org/blog/2019/announcing-episource-as-silver-sponsor.html

#Python

![episource-social-media-poster](https://user-images.githubusercontent.com/1576612/65611749-e0d8b180-dfd0-11e9-99f9-551339ddf817.png)

[2019-09-25 14:47] stylesen commented on #91
We are excited to announce AirAsia @AirAsia as Associate Sponsor for #PyConIndia2019. Find out more about AirAsia at https://in.pycon.org/blog/2019/announcing-airasia-as-associate-sponsor.html

#Python

![airasia-social-media-poster](https://user-images.githubusercontent.com/1576612/65612231-8e4bc500-dfd1-11e9-8a0b-df41e6501ca5.png)

[2019-09-25 14:49] stylesen commented on #91
We are excited to announce Reckonsys @reckonsys as Associate Sponsor for #PyConIndia2019. Find out more about Reckonsys at https://in.pycon.org/blog/2019/announcing-reckonsys-as-associate-sponsor.html

#Python

![reckonsys-social-media-poster](https://user-images.githubusercontent.com/1576612/65612383-cb17bc00-dfd1-11e9-96b7-0996d602629c.png)

[2019-09-25 14:51] stylesen commented on #91
Subject: Announcing Episource as our Silver Sponsor

We are happy to introduce our Silver sponsor Episource!

Episource has devoted more than a decade in building solutions for risk adjustment to measure
healthcare outcomes. As one of the leading companies in healthcare, we have helped numerous
clients optimize their medical records, data, analytics to enable better documentation of care for
patie

[2019-09-25 14:53] stylesen commented on #91
Subject: Announcing AirAsia as our Associate Sponsor

We are happy to introduce our Associate sponsor AirAsia!

AirAsia: Asia's leading airline was established with the dream of making flying possible for everyone. Since 2001, AirAsia has swiftly broken travel norms around the globe and has risen to become the world's best. Driven by the Dare to Dream spirit, we pride ourselves on being the region

[2019-09-25 14:53] stylesen commented on #91
Subject: Announcing Reckonsys as our Associate Sponsor

We are happy to introduce our Associate sponsor Reckonsys!

Reckonsys Tech Labs is a boutique software development firm specializing in building Minimum Viable Products for Startups leveraging Python Stack and other emerging technologies in a cost-effective manner without compromising on the Security/Scalability of these products when Startup

[2019-09-26 04:39] abhishekmishragithub opened #161 "Ticket sales closing"
The Ticket sales for PyCon India 2019 will close at 11:59 pm on 30th of September. This includes purchasing of new tickets, transfer of purchased tickets and cancellation requests.
If you are not able to attend the conference, please contact tickets@in.pycon.org. We have people in waiting list who are willing to buy a conference ticket.

[2019-09-26 05:03] bravegnu commented on #161
If you are not able to attend the conference, please contact tickets@in.pycon.org, before 30th September. We have people in waiting list who are willing to buy a conference ticket.

[2019-09-26 05:20] gok03 commented on #161
The Ticket sales for PyCon India 2019 will close at 11:59 pm on 30th of September. This includes purchasing of new tickets, transfer of purchased tickets and cancellation requests.
If you are not able to attend the conference, please contact tickets@in.pycon.org, before 30th September. We have people in waiting list who are willing to buy a conference ticket.

[2019-09-26 06:09] bravegnu commented on #161
If you have a ticket and you are not able to attend ...

[2019-09-26 14:20] stylesen commented on #91
![bloomberg-social-media-poster](https://user-images.githubusercontent.com/1576612/65696497-f0223280-e096-11e9-992f-6aaee23cf61c.png)

![kla-social-media-poster](https://user-images.githubusercontent.com/1576612/65710412-99295700-e0b0-11e9-9e7d-e3ed16c09d5d.png)

[2019-09-26 14:22] stylesen commented on #91
We are excited to announce Bloomberg @TechAtBloomberg as Gold Sponsor for #PyConIndia2019. Find out more about Bloomberg at https://in.pycon.org/blog/2019/announcing-bloomberg-as-gold-sponsor.html

#Python

![bloomberg-social-media-poster](https://user-images.githubusercontent.com/1576612/65696605-295aa280-e097-11e9-9002-f83895bb51c8.png)

[2019-09-26 14:23] stylesen commented on #91
Subject: Announcing Bloomberg as our Gold Sponsor

We are happy to introduce our Gold sponsor Bloomberg!

Bloomberg is building the world's most trusted information network for financial professionals. Our 5,500+ engineers are dedicated to advancing and building new systems for the Bloomberg Terminal to solve complex, real-world problems. ​We trust our teams to choose the right technologies for th

[2019-09-26 17:12] bravegnu opened #162 "Add schedule to the website"

[2019-09-26 17:25] stylesen commented on #91
We are excited to announce KLA @KLAcorp as Associate Sponsor for #PyConIndia2019. Find out more about KLA at https://in.pycon.org/blog/2019/announcing-kla-as-associate-sponsor.html

#Python

![kla-social-media-poster](https://user-images.githubusercontent.com/1576612/65710503-c544d800-e0b0-11e9-9053-d4a28987fd2f.png)

[2019-09-26 17:27] stylesen commented on #91
Subject: Announcing KLA as our Associate Sponsor

We are happy to introduce our Associate sponsor KLA!

KLA Corporation develops industry-leading equipment and services that enable innovation throughout the electronics industry. We provide advanced process control and process-enabling solutions for manufacturing wafers and reticles, integrated circuits, packaging, printed circuit boards and flat p

[2019-09-30 00:36] stylesen commented on #91
![microsoft-social-media-poster](https://user-images.githubusercontent.com/1576612/65842328-626d6e00-e348-11e9-959a-848d1fcbb51b.png)

[2019-09-30 00:37] stylesen commented on #91
We are excited to announce Microsoft @MicrosoftIndia as Platinum Sponsor for #PyConIndia2019. Find out more about Microsoft at https://in.pycon.org/blog/2019/announcing-microsoft-as-platinum-sponsor.html

#Python

![microsoft-social-media-poster](https://user-images.githubusercontent.com/1576612/65842348-a2ccec00-e348-11e9-9374-972a6e5124e2.png)

[2019-09-30 00:39] stylesen commented on #91
Subject: Announcing Microsoft as our Platinum Sponsor

We are happy to introduce our Platinum sponsor Microsoft!

Founded in 1975, Microsoft (Nasdaq “MSFT” @microsoft) is the leading platform and productivity company for the mobile-first, cloud-first world, and its mission is to empower every person and every organization on the planet to achieve more. Microsoft set up its India operations in 1990

[2019-09-30 11:49] zerothabhishek opened #163 "Blog post: Thanking reviewers"
To felicitate the reviewers, we should be posting a thank you note on the blog along with the reviewers names/details.
Here's a draft post: https://github.com/pythonindia/junction/wiki/Thank-you-reviewers

[2019-10-02 02:49] stylesen commented on #91
![appviewx-social-media-poster](https://user-images.githubusercontent.com/1576612/66014650-43f4a780-e4ed-11e9-9dcf-effb78d21231.png)

[2019-10-02 02:50] stylesen commented on #91
We are excited to announce AppViewX @AppViewX as Silver Sponsor for #PyConIndia2019. Find out more about AppViewX at https://in.pycon.org/blog/2019/announcing-appviewx-as-silver-sponsor.html

#Python

![appviewx-social-media-poster](https://user-images.githubusercontent.com/1576612/66014715-7f8f7180-e4ed-11e9-990c-201ec370c19e.png)

[2019-10-02 02:51] stylesen commented on #91
Subject: Announcing AppViewX as our Silver Sponsor

We are happy to introduce our Silver sponsor AppViewX!

AppViewX is revolutionizing the way NetOps and SecOps teams deliver services to Enterprise IT. The AppViewX Platform is a modular, low-code software application that enables the Automation and Orchestration of Network Infrastructure and Certificate Management using an intuitive, context-awar

[2019-10-02 04:38] stylesen commented on #91
![lti-social-media-poster](https://user-images.githubusercontent.com/1576612/66018406-97222680-e4fc-11e9-8841-fa0b6dd8a441.png)

[2019-10-02 04:39] stylesen commented on #91
We are excited to announce Larsen and Toubro Infotech @LTI_Global as Silver Sponsor for #PyConIndia2019. Find out more about Larsen and Toubro Infotech at https://in.pycon.org/blog/2019/announcing-larsen-and-toubro-infotech-as-silver-sponsor.html

#Python

![lti-social-media-poster](https://user-images.githubusercontent.com/1576612/66018454-c3d63e00-e4fc-11e9-93f4-7ed0461e4cec.png)

[2019-10-02 04:40] stylesen commented on #91
Subject: Announcing Larsen and Toubro Infotech as our Silver Sponsor

We are happy to introduce our Silver sponsor Larsen and Toubro Infotech!

LTI (NSE: LTI, BSE: 540005) is a global technology consulting and digital solutions Company helping more than 350 clients succeed in a converging world. With operations in 30 countries, we go the extra mile for our  clients and accelerate their digital tra

[2019-10-04 04:19] bravegnu opened #164 "Posters Announcement"
The list of selected posters, both technical and community, is available from https://in.pycon.org/cfp/posters-2019/proposals/#proposals Congratulations to the presenters!

#Python #PyConIndia2019

[2019-10-07 02:04] bravegnu opened #165 "120 hours to go ..."
120 hours to go for PyCon India 2019!

#Python #PyConIndia2019

![120-hours](https://user-images.githubusercontent.com/1171852/66280534-c0fc9400-e8d4-11e9-9dc9-31f362ca1532.png)

[2019-10-08 04:12] stylesen commented on #91
![merit-social-media-poster](https://user-images.githubusercontent.com/1576612/66366983-e7dbc880-e9af-11e9-9d58-80681ab50f0a.png)

![zilogic-social-media-poster](https://user-images.githubusercontent.com/1576612/66366987-ec07e600-e9af-11e9-907c-a38ccef0a77b.png)

[2019-10-08 04:14] stylesen commented on #91
We are excited to announce Merit Group @MeritDataCode as Gold Sponsor for #PyConIndia2019. Find out more about Merit Group at https://in.pycon.org/blog/2019/announcing-merit-as-gold-sponsor.html

#Python

![merit-social-media-poster](https://user-images.githubusercontent.com/1576612/66367064-40ab6100-e9b0-11e9-8705-590d67f95783.png)

[2019-10-08 04:16] stylesen commented on #91
We are excited to announce Zilogic Systems @zilogic as Associate Sponsor for #PyConIndia2019. Find out more about Zilogic Systems at https://in.pycon.org/blog/2019/announcing-zilogic-systems-as-associate-sponsor.html

#Python

![zilogic-social-media-poster](https://user-images.githubusercontent.com/1576612/66367093-63d61080-e9b0-11e9-9294-c5f57b3174a1.png)

[2019-10-08 04:17] stylesen commented on #91
Subject: Announcing Merit as our Gold Sponsor

We are happy to introduce our Gold sponsor Merit!

Merit is a tight-knit team of tech lovers and problem solvers who thrive on getting a job done well, on time and on budget.

Our combination of exceptional talent, flexible resources and cost-effective delivery sees us power some of the world's most trusted B2B data products.

We buck the trend of off

[2019-10-08 04:18] stylesen commented on #91
Subject: Announcing Zilogic Systems as our Associate Sponsor

We are happy to introduce our Associate sponsor Zilogic Systems!

Zilogic Systems is a product-realization company specializing in embedded technologies. We cater to Embedded platforms, IoT, Automotive and Wireless industries. We are a single source for hardware, firmware, system software, application software and test automation engine

[2019-10-10 02:43] tnmurthy opened #166 "VVIP Movement in Chennai (SM and Mailer Required)"
Dear Pythonista, 

Chinese President Xi Jinping will visit Chennai from Oct 11 to Oct 12 for a summit with Prime Minister Narendra Modi which will be held in the seaside temple town of Mamallapuram near Chennai. According to the release from the city police Commissionerate, every effort will be made to ensure that the public will not be put under any kind of inconvenience, but certain measures lik

[2019-10-10 05:41] stylesen commented on #91
![instazen-social-media-poster](https://user-images.githubusercontent.com/1576612/66541945-b8af8d80-eb4e-11e9-86ac-0a13f73ad713.png)

![grofers-social-media-poster](https://user-images.githubusercontent.com/1576612/66541951-bcdbab00-eb4e-11e9-8b3d-421d55fa8db2.png)

[2019-10-10 05:44] stylesen commented on #91
We are excited to announce Instazen @_instazen as Associate Sponsor for #PyConIndia2019. Find out more about Instazen at https://in.pycon.org/blog/2019/announcing-instazen-as-associate-sponsor.html

#Python

![instazen-social-media-poster](https://user-images.githubusercontent.com/1576612/66542042-09bf8180-eb4f-11e9-8d02-ca8a87826282.png)

[2019-10-10 05:45] stylesen commented on #91
We are excited to announce Grofers @Grofers as Associate Sponsor for #PyConIndia2019. Find out more about Grofers at https://in.pycon.org/blog/2019/announcing-grofers-as-associate-sponsor.html

#Python

![grofers-social-media-poster](https://user-images.githubusercontent.com/1576612/66542119-48edd280-eb4f-11e9-9e75-0e7a4f1bca54.png)

[2019-10-10 05:47] stylesen commented on #91
Subject: Announcing Instazen as our Associate Sponsor

We are happy to introduce our Associate sponsor Instazen!

Instazen is building a next generation SaaS product to power small and medium enterprises.

Founded last year and based in Pune, the company has a young and energetic team busy working on hard, real world problems and building innovative solutions. They are a technology driven company

[2019-10-10 05:47] stylesen commented on #91
Subject: Announcing Grofers as our Associate Sponsor

We are happy to introduce our Associate sponsor Grofers!

Grofers is India’s largest low price online supermarket in the grocery space. The company uses its in-house technology platform to manage a network of over 5,000 partner stores that enable the company to run a fast and lean supply chain – from manufacturers straight to customers in 16 ci

[2019-10-10 11:40] amrrs commented on #164
@bravegnu I submitted the poster pdf but due to some issues the submission didn't go through and I submitted again at 5:10 pm (which is after the 5:00 pm) deadline. Is it possible that my pdf is considered for printing?

Thnks!

[2019-10-10 13:41] bravegnu commented on #164
@amrrs Please submit your request for poster printing at https://forms.gle/t2LQ39b51FeFXPLE7

[2019-10-10 13:43] bravegnu commented on #164
@amrrs OK, got it. Will handle it.

[2019-10-10 15:09] amrrs commented on #164
@bravegnu Really appreciate it!

[2020-06-28 07:43] #31 closed, assigned to nobody

[2020-06-28 07:43] #40 closed, assigned to nobody

[2020-06-28 07:43] #56 closed, assigned to nobody

[2020-06-28 07:43] #58 closed, assigned to nobody

[2020-06-28 07:43] #79 closed, assigned to nobody

[2020-06-28 07:43] #83 closed, assigned to nobody

[2020-06-28 07:43] #84 closed, assigned to nobody

[2020-06-28 07:43] #88 closed, assigned to nobody

[2020-06-28 07:43] #91 closed, assigned to nobody

[2020-06-28 07:43] #95 closed, assigned to nobody

[2020-06-28 07:43] #104 closed, assigned to nobody

[2020-06-28 07:43] #135 closed, assigned to nobody

[2020-06-28 07:43] #139 closed, assigned to nobody

[2020-06-28 07:43] #144 closed, assigned to nobody

[2020-06-28 07:43] #150 closed, assigned to nobody

[2020-06-28 07:43] #151 closed, assigned to nobody

[2020-06-28 07:43] #152 closed, assigned to nobody

[2020-06-28 07:43] #159 closed, assigned to nobody

[2020-06-28 07:43] #160 closed, assigned to nobody

[2020-06-28 07:43] #161 closed, assigned to nobody

[2020-06-28 07:43] #162 closed, assigned to nobody

[2020-06-28 07:43] #163 closed, assigned to nobody

[2020-06-28 07:43] #164 closed, assigned to nobody

[2020-06-28 07:43] #165 closed, assigned to nobody

[2020-06-28 07:43] #166 closed, assigned to nobody

[2020-06-28 07:44] #13 closed, assigned to nobody

[2020-06-28 07:44] #14 closed, assigned to nobody

[2020-06-28 07:44] #15 closed, assigned to nobody

[2020-06-28 07:44] #17 closed, assigned to nobody

[2020-06-28 07:44] #18 closed, assigned to nobody

[2020-06-28 07:44] #23 closed, assigned to nobody

[2020-06-28 07:44] #26 closed, assigned to nobody